<template>
    <button
    class="relative w-12 h-auto xl:w-20 flex"
    @mouseover="currentColor = altColor ? altColor : '#fff'"
    @mouseout="currentColor = '#fff'"
    :style="{color: currentColor}">
    <svg viewBox="0 0 70.7 50.2" class="flex-grow">
      <path class="st0" d="M25.1,0L0,25.1l25.1,25.1"/>
      <line class="st0" x1="0" y1="25.1" x2="70.7" y2="25.1"/>
      <text transform="matrix(1 0 0 1 21.3772 37.5)" class="st2">ANTERIOR</text>
    </svg>
  </button>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    altColor: String
  },
  data: () => ({
    currentColor: '#fff'
  })
})
</script>

<style scoped>
  .st0 {
    stroke: currentColor;
    fill: none;
    stroke-linecap: round;
  }

  .st2 {
    font-size: 10px;
  }
</style>