<template>
  <div class="flex-grow flex w-full items-center">
    <svg
      viewBox="0 0 1920 577.3"
      class="flex-grow"
      @click="handleStateClick"
    >
      <g :class="{'line-group futebol': true, 'disabled visible': !$store.state.audioGuiasAnimation}">
        <path id="line-futebol" pointer-events="none" :class="{'line':true, 'bold-line': hover === 'futebol' }" d="M266.3,534.5l212.5-286.4L912,135.9l0,0l660.1,180.4"/>
        <path id="futebol" @mouseenter="handleStateHover" @mouseleave="handleStateHoverOff" class="click-area futebol" d="M266.3,534.5l212.5-286.4L912,135.9l0,0l660.1,180.4"/>
      </g>
      <g :class="{'line-group teatro': true, 'disabled visible': !$store.state.audioGuiasAnimation}">
        <path id="line-teatro" pointer-events="none" :class="{'line':true, 'bold-line': hover === 'teatro' }" d="M618.2,324.8l-503.6-30.4l813.5,257.4l323.1-311.5L618.2,324.8z"/>
        <path id="teatro" @mouseenter="handleStateHover" @mouseleave="handleStateHoverOff" class="click-area teatro" d="M618.2,324.8l-503.6-30.4l813.5,257.4l323.1-311.5L618.2,324.8z"/>
      </g>
      <g :class="{'line-group indigenas': true, 'disabled visible': !$store.state.audioGuiasAnimation}">
        <path id="line-indigenas" pointer-events="none" :class="{'line':true, 'bold-line': hover === 'indigenas' }" d="M144.4,318.6l351.9,213.7l612-357.5L1788,361.6l-408-246.4"/>
        <path id="indigenas" @mouseenter="handleStateHover" @mouseleave="handleStateHoverOff" class="click-area indigenas" d="M144.4,318.6l351.9,213.7l612-357.5L1788,361.6l-408-246.4"/>
      </g>
      <g :class="{'line-group cinema': true, 'disabled visible': !$store.state.audioGuiasAnimation}">
        <path id="line-cinema" pointer-events="none" :class="{'line':true, 'bold-line': hover === 'cinema' }" d="M358.8,225.3l193.4,254.4l928.5,41.1l-430.7-131.9L658,60.6L358.8,225.3z"/>
        <path id="cinema" @mouseenter="handleStateHover" @mouseleave="handleStateHoverOff" class="click-area cinema" d="M358.8,225.3l193.4,254.4l928.5,41.1l-430.7-131.9L658,60.6L358.8,225.3z"/>
      </g>
      <g :class="{'line-group saude': true, 'disabled visible': !$store.state.audioGuiasAnimation}">
        <path id="line-saude" pointer-events="none" :class="{'line':true, 'bold-line': hover === 'saude' }" d="M1318.2,405.2L574.8,217.4l-445,204.5"/>
        <path id="saude" @mouseenter="handleStateHover" @mouseleave="handleStateHoverOff" class="click-area saude" d="M1318.2,405.2L574.8,217.4l-445,204.5"/>
      </g>
      <g :class="{'line-group resistencia': true, 'disabled visible': !$store.state.audioGuiasAnimation}">
        <path id="line-resistencia" pointer-events="none" :class="{'line':true, 'bold-line': hover === 'resistencia' }" d="M242.8,429.3l1187.7,61.8l382.2-196l0,0"/>
        <path id="resistencia" @mouseenter="handleStateHover" @mouseleave="handleStateHoverOff" class="click-area resistencia" d="M242.8,429.3l1187.7,61.8l382.2-196l0,0"/>
      </g>
      <g :class="{'line-group operarios': true, 'disabled visible': !$store.state.audioGuiasAnimation}"
        @animationend="$store.commit('disableAudioguiasAnimation')">
        <path id="line-operarios" pointer-events="none" :class="{'line':true, 'bold-line': hover === 'operarios' }" d="M573.6,112.7l-416,142.6l293.4,250l301.7-56.6l520.7,76.1l250.8-301l-469.3,45.4L573.6,112.7z"/>
        <path id="operarios" @mouseenter="handleStateHover" @mouseleave="handleStateHoverOff" class="click-area operarios" d="M573.6,112.7l-416,142.6l293.4,250l301.7-56.6l520.7,76.1l250.8-301l-469.3,45.4L573.6,112.7z"/>
      </g>
      <g :class="{'line-group lgbtqia': true, 'disabled visible': !$store.state.audioGuiasAnimation}">
        <path id="line-lgbtqia" pointer-events="none" :class="{'line':true, 'bold-line': hover === 'lgbtqia' }" d="M723.1,110.4L452.4,325.1l223.3,147.4L1000,399l247.7,134l322.9-255.9l-493.1-62.9"/>
        <path id="lgbtqia" @mouseenter="handleStateHover" @mouseleave="handleStateHoverOff" class="click-area lgbtqia" d="M723.1,110.4L452.4,325.1l223.3,147.4L1000,399l247.7,134l322.9-255.9l-493.1-62.9"/>
      </g>
      <g :class="{'line-group arquitetura': true, 'disabled visible': !$store.state.audioGuiasAnimation}">
        <path id="line-arquitetura" pointer-events="none" :class="{'line':true, 'bold-line': hover === 'arquitetura' }" d="M202.6,161.2l207.2,143.1l450.6,80.1l-84.1-233l109.5-27l376.9,162.9L932.6,536L182.5,394"/>
        <path id="arquitetura" @mouseenter="handleStateHover" @mouseleave="handleStateHoverOff" class="click-area arquitetura" d="M202.6,161.2l207.2,143.1l450.6,80.1l-84.1-233l109.5-27l376.9,162.9L932.6,536L182.5,394"/>
      </g>
      <g :class="{'line-group samba': true, 'disabled visible': !$store.state.audioGuiasAnimation}">
        <path id="line-samba" pointer-events="none" :class="{'line':true, 'bold-line': hover === 'samba' }" d="M121.9,430.7l409.3,47.6L955.7,384l298.2-191.8l230,130.6"/>
        <path id="samba" @mouseenter="handleStateHover" @mouseleave="handleStateHoverOff" class="click-area samba" d="M121.9,430.7l409.3,47.6L955.7,384l298.2-191.8l230,130.6"/>
      </g>
      <g :class="{'info futebol':true, 'active': hover === 'futebol', 'disabled': !$store.state.audioGuiasAnimation }">
        <path id="Caminho_247-2" class="st6" d="M1623,390.7c0.8,0.7,2,0.7,2.7-0.1c4.2-4.6,4.2-11.6,0-16.2c-0.7-0.8-1.9-0.8-2.7-0.1
          c-0.7,0.7-0.8,1.9-0.1,2.6c2.9,3.1,2.9,8,0,11.1C1622.2,388.8,1622.3,389.9,1623,390.7C1623,390.7,1623,390.7,1623,390.7
          L1623,390.7z"/>
        <path id="Caminho_248-2" class="st6" d="M1629.4,396.8c0.5,0,1-0.2,1.3-0.5c7.6-7.6,7.6-19.9,0-27.5c0,0,0,0,0,0
          c-0.7-0.7-1.9-0.7-2.7,0c-0.7,0.7-0.7,1.9,0,2.6c6.1,6.1,6.2,16.1,0,22.2c0,0,0,0,0,0c-0.7,0.7-0.7,1.9,0,2.7
          C1628.4,396.6,1628.9,396.8,1629.4,396.8z"/>
        <text transform="matrix(1 0 0 1 1597.163 297.754)" class="st6 st1 st2">FUTEBOL</text>
        <text transform="matrix(1 0 0 1 1597.163 353.754)" class="st6 st1 st2">DE VÁRZEA</text>
        <path id="Caminho_119-2" class="pin" d="M1574.1,298.8c0,0,11.8-16.9,11.8-23.9c0-6.6-5.4-11.9-11.9-11.8
          c-6.6,0-11.8,5.4-11.8,11.9C1562.2,282.1,1574.1,298.8,1574.1,298.8"/>
        <text transform="matrix(1 0 0 1 1642.163 392.449)" class="ouvir st6 st1 st3" style="text-decoration: underline;">OUVIR</text>
        <path id="Caminho_249-2" class="st6" d="M1604.9,390.1l10.2,7.9c0.3,0.3,0.7,0.4,1.1,0.4h1.9c1,0,1.9-0.9,1.9-1.9c0,0,0,0,0,0
          v-28.2c0-1-0.8-1.9-1.9-1.9c0,0,0,0,0,0h-1.9c-0.4,0-0.8,0.1-1.1,0.4l-10.2,7.9h-5.3c-1.9,0-3.5,1.6-3.4,3.5v8.3
          c0,1.9,1.5,3.5,3.4,3.5H1604.9z M1616.2,370.8v23.4l-8.8-6.9v-9.6L1616.2,370.8z M1599.9,378.6h3.8v7.7h-3.8V378.6z"/>
      </g>
      <g :class="{'info teatro':true, 'active': hover === 'teatro', 'disabled': !$store.state.audioGuiasAnimation }">
        <text transform="matrix(1 0 0 1 1269.4249 222.086)" class="st8 st1 st2">TEATRO</text>
        <path id="Caminho_119-3" class="pin" d="M1246.4,223.1c0,0,11.8-16.9,11.8-23.9c0-6.6-5.4-11.9-11.9-11.8
          c-6.6,0-11.8,5.4-11.8,11.9C1234.4,206.4,1246.4,223.1,1246.4,223.1"/>
        <text transform="matrix(1 0 0 1 1315.4249 261.7809)" class="ouvir st8 st1 st3" style="text-decoration: underline;">OUVIR</text>
        <path id="Caminho_247-3" class="st8" d="M1296.3,260c0.8,0.7,2,0.7,2.7-0.1c4.2-4.6,4.2-11.6,0-16.2c-0.7-0.8-1.9-0.8-2.7-0.1
          c-0.7,0.7-0.8,1.9-0.1,2.6c2.9,3.1,2.9,8,0,11.1C1295.5,258.1,1295.5,259.3,1296.3,260C1296.3,260,1296.3,260,1296.3,260
          L1296.3,260z"/>
        <path id="Caminho_248-3" class="st8" d="M1302.6,266.1c0.5,0,1-0.2,1.3-0.5c7.6-7.6,7.6-19.9,0-27.5c0,0,0,0,0,0
          c-0.7-0.7-1.9-0.7-2.7,0c-0.7,0.7-0.7,1.9,0,2.6c6.1,6.1,6.2,16.1,0,22.2c0,0,0,0,0,0c-0.7,0.7-0.7,1.9,0,2.7
          C1301.6,265.9,1302.1,266.1,1302.6,266.1z"/>
        <path id="Caminho_249-3" class="st8" d="M1278.2,259.4l10.2,7.9c0.3,0.3,0.7,0.4,1.1,0.4h1.9c1,0,1.9-0.9,1.9-1.9c0,0,0,0,0,0
          v-28.2c0-1-0.8-1.9-1.9-1.9c0,0,0,0,0,0h-1.9c-0.4,0-0.8,0.1-1.1,0.4l-10.2,7.9h-5.3c-1.9,0-3.5,1.6-3.5,3.5v8.3
          c0,1.9,1.5,3.5,3.5,3.5H1278.2z M1289.5,240.1v23.4l-8.8-6.9v-9.6L1289.5,240.1z M1273.2,247.9h3.8v7.7h-3.8V247.9z"/>
      </g>
      <g :class="{'info indigenas':true, 'active': hover === 'indigenas', 'disabled': !$store.state.audioGuiasAnimation }">
        <text transform="matrix(1 0 0 1 1011.257 98.139)" class="st11 st1 st2">LUTAS INDÍGENAS</text>
        <path id="Caminho_119-4" class="pin" d="M1378.2,100.9c0,0,11.8-16.9,11.8-23.9c0-6.6-5.4-11.9-11.9-11.8
          c-6.6,0-11.8,5.4-11.8,11.9C1366.3,84.2,1378.2,100.9,1378.2,100.9"/>
        <text transform="matrix(1 0 0 1 1269.2571 132.834)" class="ouvir st11 st1 st3" style="text-decoration: underline;">OUVIR</text>
        <path id="Caminho_247-4" class="st11" d="M1250.1,131c0.8,0.7,2,0.7,2.7-0.1c4.2-4.6,4.2-11.6,0-16.2c-0.7-0.8-1.9-0.8-2.7-0.1
          c-0.7,0.7-0.8,1.9-0.1,2.6c2.9,3.1,2.9,8,0,11.1C1249.3,129.1,1249.4,130.3,1250.1,131C1250.1,131,1250.1,131,1250.1,131
          L1250.1,131z"/>
        <path id="Caminho_248-4" class="st11" d="M1256.5,137.2c0.5,0,1-0.2,1.3-0.6c7.6-7.6,7.6-19.9,0-27.5c0,0,0,0,0,0
          c-0.7-0.7-1.9-0.7-2.7,0c-0.7,0.7-0.7,1.9,0,2.6c6.1,6.1,6.2,16.1,0,22.2c0,0,0,0,0,0c-0.7,0.7-0.7,1.9,0,2.7
          C1255.5,137,1256,137.2,1256.5,137.2z"/>
        <path id="Caminho_249-4" class="st11" d="M1232,130.5l10.2,7.9c0.3,0.3,0.7,0.4,1.1,0.4h1.9c1,0,1.9-0.9,1.9-1.9c0,0,0,0,0,0v-28.2
          c0-1-0.8-1.9-1.9-1.9c0,0,0,0,0,0h-1.9c-0.4,0-0.8,0.1-1.1,0.4l-10.2,7.9h-5.3c-1.9,0-3.5,1.6-3.4,3.5v8.3c0,1.9,1.5,3.5,3.4,3.5
          H1232z M1243.3,111.1v23.4l-8.8-6.9V118L1243.3,111.1z M1227,119h3.8v7.7h-3.8V119z"/>
      </g>
      <g :class="{'info cinema':true, 'active': hover === 'cinema', 'disabled': !$store.state.audioGuiasAnimation }">
        <text transform="matrix(1 0 0 1 684 34.726)" class="st13 st1 st2">CINEMA</text>
        <path id="Caminho_119-5" class="pin" d="M660.9,35.7c0,0,11.8-16.9,11.8-23.9c0-6.6-5.4-11.9-11.9-11.8C654.3,0,649,5.4,649,11.9
          C649,19,660.9,35.7,660.9,35.7"/>
        <text transform="matrix(1 0 0 1 730 74.421)" class="ouvir st13 st1 st3" style="text-decoration: underline;">OUVIR</text>
        <path id="Caminho_247-5" class="st13" d="M710.9,72.6c0.8,0.7,2,0.7,2.7-0.1c4.2-4.6,4.2-11.6,0-16.2c-0.7-0.8-1.9-0.8-2.7-0.1
          c-0.7,0.7-0.8,1.9-0.1,2.6c2.9,3.1,2.9,8,0,11.1C710.1,70.7,710.1,71.9,710.9,72.6C710.9,72.6,710.9,72.6,710.9,72.6L710.9,72.6z"
          />
        <path id="Caminho_248-5" class="st13" d="M717.2,78.7c0.5,0,1-0.2,1.3-0.5c7.6-7.6,7.6-19.9,0-27.5c0,0,0,0,0,0
          c-0.7-0.7-1.9-0.7-2.7,0c-0.7,0.7-0.7,1.9,0,2.6c6.1,6.1,6.2,16.1,0,22.2c0,0,0,0,0,0c-0.7,0.7-0.7,1.9,0,2.7
          C716.2,78.5,716.7,78.7,717.2,78.7z"/>
        <path id="Caminho_249-5" class="st13" d="M692.8,72.1l10.2,7.9c0.3,0.3,0.7,0.4,1.1,0.4h1.9c1,0,1.9-0.9,1.9-1.9c0,0,0,0,0,0V50.3
          c0-1-0.8-1.9-1.9-1.9c0,0,0,0,0,0h-1.9c-0.4,0-0.8,0.1-1.1,0.4l-10.2,7.9h-5.3c-1.9,0-3.5,1.6-3.5,3.5v8.3c0,1.9,1.5,3.5,3.5,3.5
          H692.8z M704.1,52.7v23.4l-8.8-6.9v-9.6L704.1,52.7z M687.8,60.6h3.8v7.7h-3.8V60.6z"/>
      </g>
      <g :class="{'info saude':true, 'active': hover === 'saude', 'disabled': !$store.state.audioGuiasAnimation }">
        <text transform="matrix(1 0 0 1 565 286.5802)" class="st14 st1 st2">SAÚDE</text>
        <path id="Caminho_119-6" class="pin" d="M576.9,209.6c0,0,11.8-16.9,11.8-23.9c0-6.6-5.4-11.9-11.9-11.8
          c-6.6,0-11.8,5.4-11.8,11.9C565,192.9,576.9,209.6,576.9,209.6"/>
        <text transform="matrix(1 0 0 1 610.989 327.5802)" class="ouvir st14 st1 st3" style="text-decoration: underline;">OUVIR</text>
        <path id="Caminho_247-6" class="st14" d="M591.9,325.8c0.8,0.7,2,0.7,2.7-0.1c4.2-4.6,4.2-11.6,0-16.2c-0.7-0.8-1.9-0.8-2.7-0.1
          c-0.7,0.7-0.8,1.9-0.1,2.6c2.9,3.1,2.9,8,0,11.1C591,323.9,591.1,325.1,591.9,325.8C591.9,325.8,591.9,325.8,591.9,325.8
          L591.9,325.8z"/>
        <path id="Caminho_248-6" class="st14" d="M598.2,331.9c0.5,0,1-0.2,1.3-0.6c7.6-7.6,7.6-19.9,0-27.5c0,0,0,0,0,0
          c-0.7-0.7-1.9-0.7-2.7,0c-0.7,0.7-0.7,1.9,0,2.6c6.1,6.1,6.2,16.1,0,22.2c0,0,0,0,0,0c-0.7,0.7-0.7,1.9,0,2.7
          C597.2,331.7,597.7,331.9,598.2,331.9z"/>
        <path id="Caminho_249-6" class="st14" d="M573.8,325.2l10.2,7.9c0.3,0.3,0.7,0.4,1.1,0.4h1.9c1,0,1.9-0.9,1.9-1.9c0,0,0,0,0,0
          v-28.2c0-1-0.8-1.9-1.9-1.9c0,0,0,0,0,0h-1.9c-0.4,0-0.8,0.1-1.1,0.4l-10.2,7.9h-5.3c-1.9,0-3.5,1.6-3.5,3.5v8.3
          c0,1.9,1.5,3.5,3.5,3.5H573.8z M585.1,305.9v23.4l-8.8-6.9v-9.6L585.1,305.9z M568.8,313.7h3.8v7.7h-3.8V313.7z"/>
      </g>
      <g :class="{'info resistencia':true, 'active': hover === 'resistencia', 'disabled': !$store.state.audioGuiasAnimation }">
        <text transform="matrix(1 0 0 1 1419.84 531.5861)" class="st17 st1 st2">RESISTÊNCIA NEGRA</text>
        <text transform="matrix(1 0 0 1 1465.84 571.2811)" class="ouvir st17 st1 st3" style="text-decoration: underline;">OUVIR</text>
        <path id="Caminho_247-7" class="st17" d="M1446.7,569.5c0.8,0.7,2,0.7,2.7-0.1c4.2-4.6,4.2-11.6,0-16.2c-0.7-0.8-1.9-0.8-2.7-0.1
          c-0.7,0.7-0.8,1.9-0.1,2.6c2.9,3.1,2.9,8,0,11.1C1445.9,567.6,1445.9,568.8,1446.7,569.5C1446.7,569.5,1446.7,569.5,1446.7,569.5
          L1446.7,569.5z"/>
        <path id="Caminho_248-7" class="st17" d="M1453,575.6c0.5,0,1-0.2,1.3-0.5c7.6-7.6,7.6-19.9,0-27.5c0,0,0,0,0,0
          c-0.7-0.7-1.9-0.7-2.7,0c-0.7,0.7-0.7,1.9,0,2.6c6.1,6.1,6.2,16.1,0,22.2c0,0,0,0,0,0c-0.7,0.7-0.7,1.9,0,2.7
          C1452.1,575.4,1452.5,575.6,1453,575.6z"/>
        <path id="Caminho_249-7" class="st17" d="M1428.6,568.9l10.2,7.9c0.3,0.3,0.7,0.4,1.1,0.4h1.9c1,0,1.9-0.9,1.9-1.9c0,0,0,0,0,0
          v-28.2c0-1-0.8-1.9-1.9-1.9c0,0,0,0,0,0h-1.9c-0.4,0-0.8,0.1-1.1,0.4l-10.2,7.9h-5.3c-1.9,0-3.5,1.6-3.5,3.5v8.3
          c0,1.9,1.5,3.5,3.5,3.5H1428.6z M1439.9,549.6v23.4l-8.8-6.9v-9.6L1439.9,549.6z M1423.6,557.4h3.8v7.7h-3.8V557.4z"/>
        <path id="Caminho_354" class="pin" d="M1429.9,480.2c0,0,11.8-16.9,11.8-23.9c0-6.6-5.4-11.9-11.9-11.8c-6.6,0-11.8,5.4-11.8,11.9
          C1418,463.5,1429.9,480.2,1429.9,480.2"/>
      </g>
      <g :class="{'info operarios':true, 'active': hover === 'operarios', 'disabled': !$store.state.audioGuiasAnimation }">
        <text transform="matrix(1 0 0 1 1545 149.741)" class="st21 st1 st22">MEMÓRIA</text>
        <text transform="matrix(1 0 0 1 1545 195.741)" class="st21 st1 st22">OPERÁRIA</text>
        <path id="Caminho_119-8" class="pin" d="M1523.9,202.2c0,0,10-14.3,10-20.2c0-5.5-4.5-10-10.1-10c-5.5,0-10,4.5-10,10.1
          C1513.8,188.1,1523.9,202.2,1523.9,202.2"/>
        <text transform="matrix(1 0 0 1 1583.812 233.512)" class="ouvir st21 st1 st23" style="text-decoration: underline;">OUVIR</text>
        <path id="Caminho_247-9" class="st21" d="M1567.7,233.3c0.6,0.6,1.7,0.6,2.2-0.1c0,0,0,0,0,0c3.6-3.9,3.6-9.8,0-13.7
        c-0.6-0.6-1.6-0.7-2.2-0.1c-0.6,0.6-0.7,1.6-0.1,2.2c2.4,2.6,2.4,6.7,0,9.4C1567,231.7,1567,232.7,1567.7,233.3
        C1567.7,233.3,1567.7,233.3,1567.7,233.3L1567.7,233.3z"/>
        <path id="Caminho_248-9" class="st21" d="M1573,238.5c0.4,0,0.8-0.2,1.1-0.5c6.4-6.4,6.4-16.8,0-23.2c0,0,0,0,0,0
          c-0.6-0.6-1.6-0.6-2.2,0s-0.6,1.6,0,2.2c5.2,5.2,5.2,13.6,0,18.7c0,0,0,0,0,0c-0.6,0.6-0.6,1.6,0,2.2
          C1572.2,238.3,1572.6,238.5,1573,238.5z"/>
        <path id="Caminho_249-9" class="st21" d="M1552.4,232.9l8.6,6.7c0.3,0.2,0.6,0.3,1,0.3h1.6c0.9,0,1.6-0.7,1.6-1.6c0,0,0,0,0,0v-23.8
          c0-0.9-0.7-1.6-1.6-1.6c0,0,0,0,0,0h-1.6c-0.3,0-0.7,0.1-1,0.3l-8.6,6.7h-4.5c-1.6,0-2.9,1.3-2.9,3v7c0,1.6,1.3,3,2.9,3H1552.4z
          M1561.9,216.5v19.7l-7.4-5.8v-8.1L1561.9,216.5z M1548.2,223.1h3.2v6.5h-3.2V223.1z"/>
      </g>
      <g :class="{'info lgbtqia':true, 'active': hover === 'lgbtqia', 'disabled': !$store.state.audioGuiasAnimation }">
        <text transform="matrix(1 0 0 1 871.262 201.8822)" class="st24 st1 st2">LGBTQIA+</text>
        <path id="Caminho_119-9" class="pin" d="M1076.2,202.7c0,0,11.8-16.9,11.8-23.9c0-6.6-5.4-11.9-11.9-11.8
          c-6.6,0-11.8,5.4-11.8,11.9C1064.3,186.1,1076.2,202.7,1076.2,202.7"/>
        <text transform="matrix(1 0 0 1 978.262 242.8822)" class="ouvir st24 st1 st3" style="text-decoration: underline;">OUVIR</text>
        <path id="Caminho_247-10" class="st24" d="M959.1,241.1c0.8,0.7,2,0.7,2.7-0.1c4.2-4.6,4.2-11.6,0-16.2c-0.7-0.8-1.9-0.8-2.7-0.1
          c-0.7,0.7-0.8,1.9-0.1,2.6c2.9,3.1,2.9,8,0,11.1C958.3,239.2,958.4,240.4,959.1,241.1C959.1,241.1,959.1,241.1,959.1,241.1
          L959.1,241.1z"/>
        <path id="Caminho_248-10" class="st24" d="M965.5,247.2c0.5,0,1-0.2,1.3-0.6c7.6-7.6,7.6-19.9,0-27.5c0,0,0,0,0,0
          c-0.7-0.7-1.9-0.7-2.7,0c-0.7,0.7-0.7,1.9,0,2.6c6.1,6.1,6.2,16.1,0,22.2c0,0,0,0,0,0c-0.7,0.7-0.7,1.9,0,2.7
          C964.5,247,965,247.2,965.5,247.2z"/>
        <path id="Caminho_249-10" class="st24" d="M941,240.6l10.2,7.9c0.3,0.3,0.7,0.4,1.1,0.4h1.9c1,0,1.9-0.9,1.9-1.9c0,0,0,0,0,0v-28.2
          c0-1-0.8-1.9-1.9-1.9c0,0,0,0,0,0h-1.9c-0.4,0-0.8,0.1-1.1,0.4l-10.2,7.9h-5.3c-1.9,0-3.5,1.6-3.5,3.5v8.3c0,1.9,1.5,3.5,3.5,3.5
          H941z M952.3,221.2v23.4l-8.8-6.9v-9.6L952.3,221.2z M936,229h3.8v7.7H936V229z"/>
      </g>
      <g :class="{'info arquitetura':true, 'active': hover === 'arquitetura', 'disabled': !$store.state.audioGuiasAnimation }">
        <text transform="matrix(1 0 0 1 1289.114 276.2959)" class="st0 st1 st2">ARQUITETURA</text>
        <path id="Caminho_119-7" class="pin" d="M1266.1,277.3c0,0,11.8-16.9,11.8-23.9c0-6.6-5.4-11.9-11.9-11.8
          c-6.6,0-11.8,5.4-11.8,11.9C1254.1,260.6,1266.1,277.3,1266.1,277.3"/>
        <text transform="matrix(1 0 0 1 1335.114 315.9909)" class="ouvir st0 st1 st3" style="text-decoration: underline;">OUVIR</text>
        <path id="Caminho_247-8" class="st0" d="M1316,314.2c0.8,0.7,2,0.7,2.7-0.1c4.2-4.6,4.2-11.6,0-16.2c-0.7-0.8-1.9-0.8-2.7-0.1
          c-0.7,0.7-0.8,1.9-0.1,2.6c2.9,3.1,2.9,8,0,11.1C1315.2,312.3,1315.2,313.5,1316,314.2C1316,314.2,1316,314.2,1316,314.2
          L1316,314.2z"/>
        <path id="Caminho_248-8" class="st0" d="M1322.3,320.3c0.5,0,1-0.2,1.3-0.6c7.6-7.6,7.6-19.9,0-27.5c0,0,0,0,0,0
          c-0.7-0.7-1.9-0.7-2.7,0c-0.7,0.7-0.7,1.9,0,2.6c6.1,6.1,6.2,16.1,0,22.2c0,0,0,0,0,0c-0.7,0.7-0.7,1.9,0,2.7
          C1321.3,320.1,1321.8,320.3,1322.3,320.3z"/>
        <path id="Caminho_249-8" class="st0" d="M1297.9,313.7l10.2,7.9c0.3,0.3,0.7,0.4,1.1,0.4h1.9c1,0,1.9-0.9,1.9-1.9c0,0,0,0,0,0
          v-28.2c0-1-0.8-1.9-1.9-1.9c0,0,0,0,0,0h-1.9c-0.4,0-0.8,0.1-1.1,0.4l-10.2,7.9h-5.3c-1.9,0-3.5,1.6-3.5,3.5v8.3
          c0,1.9,1.5,3.5,3.5,3.5H1297.9z M1309.2,294.3v23.4l-8.8-6.9v-9.6L1309.2,294.3z M1292.9,302.1h3.8v7.7h-3.8V302.1z"/>
      </g>
      <g :class="{'info samba':true, 'active': hover === 'samba', 'disabled': !$store.state.audioGuiasAnimation }">
        <text transform="matrix(1 0 0 1 1509.8521 288.534)" class="st4 st1 st2">SAMBA</text>
        <path id="Caminho_119-0" class="pin" d="M1486.8,289.5c0,0,11.8-16.9,11.8-23.9c0-6.6-5.4-11.9-11.9-11.8c-6.6,0-11.8,5.4-11.8,11.9
          C1474.9,272.8,1486.8,289.5,1486.8,289.5"/>
        <text transform="matrix(1 0 0 1 1555.8521 328.229)" class="ouvir st4 st1 st3" style="text-decoration: underline;">OUVIR</text>
        <path id="Caminho_247" class="st4" d="M1536.7,326.4c0.8,0.7,2,0.7,2.7-0.1c4.2-4.6,4.2-11.6,0-16.2c-0.7-0.8-1.9-0.8-2.7-0.1
          c-0.7,0.7-0.8,1.9-0.1,2.6c2.9,3.1,2.9,8,0,11.1C1535.9,324.5,1536,325.7,1536.7,326.4C1536.7,326.4,1536.7,326.4,1536.7,326.4
          L1536.7,326.4z"/>
        <path id="Caminho_248" class="st4" d="M1543.1,332.6c0.5,0,1-0.2,1.3-0.5c7.6-7.6,7.6-19.9,0-27.5c0,0,0,0,0,0
          c-0.7-0.7-1.9-0.7-2.7,0c-0.7,0.7-0.7,1.9,0,2.6c6.1,6.1,6.2,16.1,0,22.2c0,0,0,0,0,0c-0.7,0.7-0.7,1.9,0,2.7
          C1542.1,332.4,1542.6,332.6,1543.1,332.6z"/>
        <path id="Caminho_249" class="st4" d="M1518.6,325.9l10.2,7.9c0.3,0.3,0.7,0.4,1.1,0.4h1.9c1,0,1.9-0.9,1.9-1.9c0,0,0,0,0,0v-28.2
          c0-1-0.8-1.9-1.9-1.9c0,0,0,0,0,0h-1.9c-0.4,0-0.8,0.1-1.1,0.4l-10.2,7.9h-5.3c-1.9,0-3.5,1.6-3.5,3.5v8.3c0,1.9,1.5,3.5,3.5,3.5
          H1518.6z M1529.9,306.5v23.4l-8.8-6.9v-9.6L1529.9,306.5z M1513.6,314.4h3.8v7.7h-3.8V314.4z"/>
      </g>
    </svg>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import { gsap } from 'gsap'

export default defineComponent({
  props: {
    current: String,
  },
  emits: ["hover", "mouseOut", "activate"],
  data () {
    return {
      hover: "",
      loaded: false
    }
  },
  methods: {
    handleStateHover(e) {
      if (e.target.tagName === "path" && e.target.classList.contains("click-area")) {
        if (e.target.id !== this.hover) {
          this.hover = e.target.id
        }
      }
    },
    handleStateHoverOff() {
       this.hover = ""
    },
    handleStateClick(e) {
      if (e.target.tagName === "path" && e.target.classList.contains("click-area")) {
        this.$emit("activate", e.target.id);
      }
    },
    test (el) {
      console.log(el)
    }
  }
})
</script>

<style scoped>

path {
  cursor: pointer;
}

.click-area {
  @apply opacity-0;

  stroke-width: 20;
  stroke: currentColor;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.line {
  @apply stroke-5 lg:stroke-4 2xl:stroke-3;

  stroke: currentColor;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: all 0.3s ease-in-out;
  animation: blinker 3s 1s linear infinite;
}

/* .line-group:nth-of-type(n+4) .line {
  animation-delay: 0.5s;
}

.line-group:nth-of-type(2n+4) .line {
  animation-delay: 1.5s;
}

.line-group:nth-of-type(3n+4) .line {
  animation-delay: 2s;
} */

.bold-line {
  @apply stroke-6 lg:stroke-7 2xl:stroke-8;
}

.info path {
  fill: currentColor;
}

.info text {
  @apply italic fill-current;

  font-size: 42px;
}

.info .ouvir {
  @apply underline;

  font-size: 22px;
}

/* animations */

.info {
  @apply opacity-0 transform translate-y-4;

  transition: all 0.3s ease-in-out;
  animation: show-info 1s linear normal;
}

.info.active {
  @apply opacity-100 transform-none;
}

@keyframes show-info {
  35% {
    opacity: 1;
    transform: none;
  }

  65% {
    opacity: 1;
    transform: none;
  }

  100% {
    opacity: 0;
    transform: translateY(1rem);
  }
}

.line-group {
  opacity: 0;

  animation: show-line 1s linear forwards;
}

@keyframes show-line {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

.disabled {
  animation: none;
}

.visible {
  opacity: 1;
}

/* details */

.samba {
  color: #FFCE00;
  animation-delay: 0s;
}

.teatro {
  color: #3EFFE1;
  animation-delay: 1s;
}

.indigenas {
  color: #407700;
  animation-delay: 2s;
}

.cinema {
  color: #7472B3;
  animation-delay: 3s;
}

.arquitetura {
  color: #FF0000;
  animation-delay: 4s;
}

.resistencia {
  color: #1400FF;
  animation-delay: 5s;
}

.saude {
  color: #FF8900;
  animation-delay: 6s;
}

.futebol {
  color: #FF00F5;
  animation-delay: 7s;
}

.lgbtqia {
  color: #00FF45;
  animation-delay: 8s;
}

.operarios {
  color: #707070;
  animation-delay: 9s;
}
</style>
