<template>
  <svg viewBox="0 0 24 24">
    <path      v-if="type === 'arrow-l'" d="M5.5,12c0-0.3,0.1-0.6,0.3-0.8L16.7,0.3c0.4-0.4,1.1-0.4,1.5,0c0.4,0.4,0.4,1.1,0,1.5 L8.1,12l10.2,10.2c0.4,0.4,0.4,1.1,0,1.5c-0.4,0.4-1.1,0.4-1.5,0L5.8,12.8C5.6,12.6,5.5,12.3,5.5,12L5.5,12z"/>
    <path v-else-if="type === 'arrow-r'" d="M18.5,12c0,0.3-0.1,0.6-0.3,0.8L7.3,23.7c-0.4,0.4-1.1,0.4-1.5,0c-0.4-0.4-0.4-1.1,0-1.5 L15.9,12L5.8,1.8c-0.4-0.4-0.4-1.1,0-1.5c0.4-0.4,1.1-0.4,1.5,0l10.9,10.9C18.4,11.4,18.5,11.7,18.5,12L18.5,12z"/>
    <path v-else-if="type === 'marker'"  d="M12.05,24S20,12.62,20,8A8,8,0,0,0,12,0h0A8,8,0,0,0,4,8H4c0,4.78,8,16,8,16" />
    <path v-else-if="type === 'play'" d="M5.1,0.5C2.9-0.7,1.2,0.3,1.2,2.8v18.4c0,2.5,1.8,3.5,3.9,2.3l16.1-9.2c2.2-1.2,2.2-3.3,0-4.5 L5.1,0.5z"/>
    <path v-else-if="type === 'close'" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
    <g    v-else-if="type === 'menu'">
      <path d="M23.42,5H.58A.58.58,0,0,1,0,4.46a.59.59,0,0,1,.58-.59H23.42a.59.59,0,0,1,.58.59A.58.58,0,0,1,23.42,5Z"/>
      <path d="M23.42,20.13H.58A.59.59,0,0,1,0,19.54.58.58,0,0,1,.58,19H23.42a.58.58,0,0,1,.58.58A.59.59,0,0,1,23.42,20.13Z"/>
      <path d="M23.42,12.58H.58a.58.58,0,1,1,0-1.16H23.42a.58.58,0,0,1,0,1.16Z"/>
    </g>
    <g v-else-if="type === 'audio'">
      <path d="M24,12.8c0,0.4-0.1,0.7-0.1,1.1c-0.4,2.5-1.5,4.6-3.3,6.4c-0.4,0.4-1.1,0.4-1.6,0c-0.4-0.4-0.5-1.1,0-1.6
        c0.8-0.8,1.5-1.8,2-2.9c0.6-1.4,0.9-2.9,0.8-4.4C21.5,9,20.6,7.1,19,5.4c-0.6-0.6-0.4-1.5,0.3-1.9c0.5-0.2,0.9-0.1,1.3,0.3
        c1.3,1.3,2.2,2.8,2.8,4.6c0.3,0.9,0.5,1.7,0.5,2.7c0,0.1,0,0.1,0,0.2C24,11.7,24,12.3,24,12.8z"/>
      <path d="M14.2,12c0,2.7,0,5.4,0,8.2c0,0.8-0.5,1.2-1.2,1.2c-0.3,0-0.6,0-0.9,0c-0.3,0-0.6-0.1-0.8-0.3c-1.9-1.5-3.9-3-5.8-4.4
        c-0.1-0.1-0.3-0.1-0.4-0.1c-1,0-1.9,0-2.9,0c-1.2,0-2.1-0.9-2.1-2.1c0-1.6,0-3.2,0-4.8c0-1.2,0.9-2.1,2.1-2.1c1,0,2,0,3,0
        c0.1,0,0.2,0,0.3-0.1c1.9-1.5,3.9-3,5.8-4.5c0.3-0.2,0.6-0.3,0.9-0.3c0.3,0,0.7,0,1,0c0.7,0,1.1,0.5,1.1,1.2
        C14.3,6.5,14.2,9.3,14.2,12z M12,5.2c-0.1,0-0.1,0.1-0.1,0.1c-1.7,1.3-3.3,2.5-5,3.8C6.8,9.1,6.8,9.3,6.8,9.4c0,1.7,0,3.5,0,5.2
        c0,0.1,0.1,0.2,0.2,0.3c1.6,1.3,3.3,2.5,4.9,3.8c0.1,0,0.1,0.1,0.2,0.1C12,14.3,12,9.7,12,5.2z M4.5,9.8c-0.8,0-1.5,0-2.2,0
        c0,1.5,0,3,0,4.5c0.8,0,1.5,0,2.2,0C4.5,12.7,4.5,11.3,4.5,9.8z"/>
      <path d="M19.5,11.8c0,2-0.6,3.6-1.8,4.9c-0.5,0.5-1.2,0.6-1.6,0.1c-0.5-0.4-0.5-1.1,0-1.6c0.7-0.8,1.1-1.7,1.2-2.8
        c0.1-1.4-0.3-2.6-1.2-3.7c-0.4-0.5-0.5-1-0.2-1.4c0.4-0.6,1.3-0.8,1.8-0.2c1,1,1.6,2.3,1.8,3.7C19.5,11.2,19.5,11.6,19.5,11.8z"/>
    </g>
    <g v-else-if="type === 'audio-off'">
      <path class="st0" d="M5.2,17l6,4.7c0.1,0.1,0.4,0.3,0.7,0.3h1.1c0.7,0,1.1-0.5,1.1-1.2V4.1c0-0.7-0.5-1.1-1.1-1.2h-1.1
        c-0.3,0-0.5,0.1-0.7,0.3L5.2,8H2c-1.2,0-2,0.9-2,2v4.9C0,16.1,1,17,2,17L5.2,17z M11.9,5.6v13.8l-5.2-4V9.7L11.9,5.6z M2.2,10.2
        h2.3v4.5H2.2V10.2z"/>
      <path class="st0" d="M23.7,8.6c-0.4-0.4-1.2-0.4-1.6,0l-2.3,2.3l-2.3-2.3c-0.4-0.4-1.2-0.4-1.6,0c-0.4,0.4-0.4,1.2,0,1.6l2.3,2.3
        L16,14.7c-0.4,0.4-0.4,1.2,0,1.6c0.4,0.4,1.2,0.4,1.6,0l2.3-2.3l2.3,2.3c0.4,0.4,1.2,0.4,1.6,0c0.4-0.4,0.4-1.2,0-1.6l0,0l-2.3-2.3
        l2.3-2.3C24.1,9.8,24.1,9.2,23.7,8.6z"/>
    </g>
    <g v-else-if="type === 'fullscreen'">
      <path id="Path_287" class="st0" d="M23.4,0h-5.4c-0.3,0-0.6,0.3-0.6,0.6c0,0,0,0,0,0v1.5c0,0.3,0.3,0.6,0.6,0.6c0,0,0,0,0,0h1.4
        L15.2,7c-0.2,0.2-0.2,0.6,0,0.8c0,0,0,0,0,0l1.1,1.1c0.2,0.2,0.6,0.2,0.8,0l4.3-4.3V6c0,0.3,0.3,0.6,0.6,0.6c0,0,0,0,0,0h1.5
        C23.8,6.5,24,6.3,24,6c0,0,0,0,0,0V0.6C24,0.3,23.8,0,23.4,0z"/>
      <path id="Path_288" class="st0" d="M4.5,2.6H6c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0V0.6C6.5,0.3,6.3,0,6,0c0,0,0,0,0,0H0.6
        C0.3,0,0,0.3,0,0.6c0,0,0,0,0,0V6c0,0.3,0.3,0.6,0.6,0.6c0,0,0,0,0,0h1.5c0.3,0,0.6-0.3,0.6-0.6v0V4.5L7,8.8c0.2,0.2,0.6,0.2,0.8,0
        l1.1-1.1c0.2-0.2,0.2-0.6,0-0.8L4.5,2.6z"/>
      <path id="Path_289" class="st0" d="M7.8,15.1c-0.2-0.2-0.6-0.2-0.8,0l-4.3,4.3V18c0-0.3-0.3-0.6-0.6-0.6c0,0,0,0,0,0H0.6
        C0.3,17.4,0,17.7,0,18c0,0,0,0,0,0v5.4C0,23.7,0.3,24,0.6,24c0,0,0,0,0,0H6c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0v-1.5
        c0-0.3-0.3-0.6-0.6-0.6c0,0,0,0,0,0H4.5L8.8,17c0.2-0.2,0.2-0.6,0-0.8L7.8,15.1z"/>
      <path id="Path_290" class="st0" d="M23.4,17.4h-1.5c-0.3,0-0.6,0.3-0.6,0.6v1.4L17,15.1c-0.2-0.2-0.6-0.2-0.8,0c0,0,0,0,0,0
        l-1.1,1.1c-0.2,0.2-0.2,0.6,0,0.8c0,0,0,0,0,0l4.3,4.3h-1.4c-0.3,0-0.6,0.3-0.6,0.6c0,0,0,0,0,0v1.5c0,0.3,0.3,0.6,0.6,0.6
        c0,0,0,0,0,0h5.4c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0V18C24,17.7,23.8,17.4,23.4,17.4z"/>
    </g>
    <g v-else-if="type === 'exit-fullscreen'">
      <path id="Path_291" class="st1" d="M15.3,9.2h5.5c0.3,0,0.6-0.3,0.6-0.6c0,0,0,0,0,0V7.1c0-0.3-0.3-0.6-0.6-0.6l0,0h-1.5l4.4-4.4
        c0.2-0.2,0.2-0.6,0-0.8c0,0,0,0,0,0l-1.1-1.1c-0.2-0.2-0.6-0.2-0.8,0c0,0,0,0,0,0l-4.4,4.4V3.1c0-0.3-0.3-0.6-0.6-0.6l0,0h-1.5
        c-0.3,0-0.6,0.3-0.6,0.6c0,0,0,0,0,0v5.5C14.7,9,15,9.2,15.3,9.2C15.3,9.2,15.3,9.2,15.3,9.2z"/>
      <path id="Path_292" class="st1" d="M8.5,2.6H7c-0.3,0-0.6,0.3-0.6,0.6l0,0v1.5L2,0.2C1.8,0,1.4,0,1.2,0.2c0,0,0,0,0,0L0.1,1.3
        c-0.2,0.2-0.2,0.6,0,0.8c0,0,0,0,0,0l4.4,4.4H3c-0.3,0-0.6,0.3-0.6,0.6l0,0v1.5C2.4,9,2.7,9.2,3,9.2l0,0h5.5c0.3,0,0.6-0.3,0.6-0.6
        l0,0V3.1C9.1,2.8,8.8,2.6,8.5,2.6L8.5,2.6z"/>
      <path id="Path_293" class="st1" d="M8.6,14.8H3.1c-0.3,0-0.6,0.3-0.6,0.6l0,0v1.5c0,0.3,0.3,0.6,0.6,0.6c0,0,0,0,0,0h1.5l-4.4,4.4
        c-0.2,0.2-0.2,0.6,0,0.8c0,0,0,0,0,0l1.1,1.1c0.2,0.2,0.6,0.2,0.8,0c0,0,0,0,0,0l4.4-4.4v1.5c0,0.3,0.3,0.6,0.6,0.6c0,0,0,0,0,0
        h1.5c0.3,0,0.6-0.3,0.6-0.6l0,0v-5.5C9.2,15,8.9,14.8,8.6,14.8C8.6,14.8,8.6,14.8,8.6,14.8z"/>
      <path id="Path_294" class="st1" d="M19.4,17.5h1.5c0.3,0,0.6-0.3,0.6-0.6l0,0v-1.5c0-0.3-0.3-0.6-0.6-0.6l0,0h-5.5
        c-0.3,0-0.6,0.3-0.6,0.6l0,0v5.5c0,0.3,0.3,0.6,0.6,0.6l0,0H17c0.3,0,0.6-0.3,0.6-0.6l0,0v-1.5l4.4,4.4c0.2,0.2,0.6,0.2,0.8,0
        c0,0,0,0,0,0l1.1-1.1c0.2-0.2,0.2-0.6,0-0.8c0,0,0,0,0,0L19.4,17.5z"/>
    </g>
  </svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    type: {
      type: String,
      required: true
    }
  }
})
</script>

<style scoped>

</style>
