<template>
  <div class="flex-grow flex flex-col">

    <circuits-bar class="hidden md:flex mobile-landscape:hidden" section="audioguias"></circuits-bar>

    <header
      class="relative px-12 w-full flex flex-col justify-center text-center header-texts my-3 xl:my-6 md:flex-row">
      <h1
        class="underline larger
              md:order-2 md:w-1/3 md:my-0 md:mx-8 mobile-landscape:text-lg">
        Audioguias
      </h1>
      <h2
        class="text-info italic my-6 header-texts md:order-3 md:my-0 md:w-1/3 md:text-left"
        v-html="$store.state.circuits[currentTour].audioguiaText.length > 1 ? $store.state.circuits[currentTour].audioguiaText[1] : $store.state.circuits[currentTour].audioguiaText[0]">
      </h2>
      <h2
        class="hidden my-6 md:block header-texts italic md:order-1 md:w-1/3 md:my-0 md:text-left"
        v-html="$store.state.circuits[currentTour].audioguiaText.length > 1 ? $store.state.circuits[currentTour].audioguiaText[0] : ''">
      </h2>
    </header>

    <!-- mobile -->
    <div
      class="flex items-center h-12 w-full text-black px-4
            md:hidden portrait:flex"
      :style="{backgroundColor: $store.state.circuits[currentTour].color}">
      <span class="flex-grow text-xs uppercase italic">swipe para o próximo</span>
      <div
        class="flex-grow flex items-center justify-center"
        >
        <icons
          type="marker"
          class="w-4 h-4 sm:w-6 sm:h-6 mx-1"
          ></icons>
        <h1 class="mb-0"><b>{{$store.state.circuits[currentTour].name}}</b></h1>
      </div>

      <div class="flex-grow flex justify-end">
          <router-link
              :to="`/audioguias/${next}`"
              >
            <svg viewBox="0 0 71.4 50.7" class="svg-arrow h-6 ml-1 mr-3">
              <path d="M46.3,50.7l25.1-25.1L46.3,0.5"/>
              <line x1="71.4" y1="25.6" x2="0.7" y2="25.6"/>
            </svg>
          </router-link>
      </div>
    </div>

    <!-- all -->
    <div
      class="flex-grow flex path-slider relative content-wrapper">
      <transition-group
        :name="`slide-${side}`"
        @afterEnter="transitionEnd">
        <div
          :key="currentTour"
          class="absolute w-full h-full flex flex-col">
          <div class="flex-grow relative overflow-hidden">
            <transition-group
            name="slide-right">
            <template v-for="(image, key) in $store.state.circuits[currentTour].audioguiaImgs">
                <img
                  v-if="currentImage === key"
                  :key="key"
                  :src="`/assets/${image}.jpg`"
                  class="absolute object-cover object-center w-full h-full" />
              </template>
            </transition-group>
          </div>

          <!-- desktop -->
          <div class="absolute hidden px-24 top-0 w-full h-full md:flex flex-col items-center">
            <div class="flex-grow w-full relative flex uppercase italic">
              <div
                class="absolute top-0 w-full h-full flex"
                :style="{color: $store.state.circuits[currentTour].color}">
                <component :is="currentTour" class="flex-grow flex w-full items-center " />
              </div>
            </div>
            <button
              ref="dragBar"
              class="hidden h-16 w-full relative md:block"
              @mousedown="activateProgressBar">
              <div
                id="timeline"
                class="absolute w-full h-full top-0 timeline"
                :style="{backgroundImage: `url('/assets/audiotime-${currentTour}.png')`}">
              </div>
              <div class="absolute w-full h-full top-0 overflow-hidden timeline-wrapper"
                :style="{'width': barSize + '%'}">
              <div
                id="timeline-passed"
                class="absolute w-full h-full timeline timeline-passed">
              </div>
              </div>
            </button>
          </div>

          <!-- mobile -->
          <div
            class="absolute flex w-full h-full items-center md:hidden"
            :style="{color: $store.state.circuits[currentTour].color}">
            <component :is="currentTour + 'Mobile'" class="flex-grow my-4"></component>
          </div>

          <audio
            :ref="`audioPlayer-${currentTour}`"
            :id="`audioPlayer-${currentTour}`"
            class="md:hidden w-full"
            controls
            :muted="$store.state.muted"
            :autoplay="!$store.state.muted && !$store.state.accessibilityMode"
            @ended="onended"
            @canplay="audioLoaded = true"
            @timeupdate="ontimeupdate">
            <source :src="`/assets/${$store.state.circuits[currentTour].audioguiaAudio}`" type="audio/mpeg">
          </audio>
        </div>
      </transition-group>
    </div>

    <!-- desktop -->
    <div class="relative hidden md:flex items-center h-9">
      <transition-group
        name="fade-delayed">
        <div :key="currentTour" class="absolute h-full w-full flex items-center">
          <div class="flex-grow">
            <button
              @click="goPrev"
              class="flex items-center uppercase italic"
              :style="{color: prevColor}"
              @mouseover="prevColor = this.$store.state.circuits[prev]['color']"
              @mouseout="prevColor = '#fff'">
              <svg viewBox="0 0 71.88 51.15" class="h-6 mr-4 ml-12">
                <path class="svg-arrow" d="M25.08,0,0,25.08,25.08,50.15" transform="translate(0.71 0.5)"/>
                <line class="svg-arrow" x1="0.71" y1="25.58" x2="71.38" y2="25.58"/>
              </svg>
              <icons
              type="marker"
              class="w-4 h-4 mx-1"
              :style="{color: $store.state.circuits[prev]['color']}"
              ></icons>
              {{ $store.state.circuits[prev]['name'] }}
            </button>
          </div>

          <div
            class="flex-grow flex items-center justify-center uppercase italic "
            :style="{color: $store.state.circuits[currentTour].color}"
            >
            <icons
              type="marker"
              class="w-4 h-4 mx-1"
              ></icons>
            {{$store.state.circuits[currentTour].name}}
          </div>

          <div class="flex-grow flex justify-end">
            <button
              @click="goNext"
              class="flex items-center text-white hover:text-current uppercase italic"
              :style="{color: nextColor}"
              @mouseover="nextColor = this.$store.state.circuits[next]['color']"
              @mouseout="nextColor = '#fff'">
              {{ $store.state.circuits[next]['name'] }}
              <icons
              type="marker"
              class="w-4 h-4 mx-1"
              :style="{color: $store.state.circuits[next]['color']}"
              ></icons>

              <svg viewBox="0 0 71.4 50.7" class="h-6 ml-4 mr-12">
                <path class="svg-arrow" d="M46.3,50.7l25.1-25.1L46.3,0.5"/>
                <line class="svg-arrow" x1="71.4" y1="25.6" x2="0.7" y2="25.6"/>
              </svg>
            </button>
          </div>
        </div>
      </transition-group>
    </div>

    <!-- mobile -->
      <div id="circuitos" class="md:hidden flex flex-col mb-6">
        <template v-for="(circuito, key) in $store.state.circuits" :key="key">
          <router-link
              :to="`/audioguias/${key}`"
              v-if="circuito.number !== $store.state.circuits[currentTour].number"
              class="flex items-center h-12 w-full text-black px-4 mb-1 circuit-link"
              :style="{backgroundColor: circuito.color}">
            <div
              class="flex-grow flex items-center mx-8"
              >
              <icons
                type="marker"
                class="w-4 h-4  md:w-6 md:h-6 mx-1"
                ></icons>
              <h1 class="mb-0"><b>{{circuito.name}}</b></h1>
            </div>
          </router-link>
        </template>
      </div>
  </div>
</template>

<script lang="ts">
interface Position { x: number, y: number }

import SwipeIt from '../utils/swipe'
import { defineComponent } from 'vue'
// import AudioPaths from '../components/images/audioPaths.vue'
import samba from '../assets/sambaPaths.svg?component'
import teatro from '../assets/teatroPaths.svg?component'
import futebol from '../assets/futebolPaths.svg?component'
import lgbtqia from '../assets/lutasPaths.svg?component'
import resistencia from '../assets/resistenciaPaths.svg?component'
import indigenas from '../assets/indigenasPaths.svg?component'
import cinema from '../assets/cinemaPaths.svg?component'
import arquitetura from '../assets/arquiteturaPaths.svg?component'
import saude from '../assets/saudePaths.svg?component'
import operarios from '../assets/operariosPaths.svg?component'

import sambaMobile from '../assets/sambaMobilePath.svg?component'
import teatroMobile from '../assets/teatroMobilePath.svg?component'
import futebolMobile from '../assets/futebolMobilePath.svg?component'
import lgbtqiaMobile from '../assets/lutasMobilePath.svg?component'
import resistenciaMobile from '../assets/resistenciaMobilePath.svg?component'
import indigenasMobile from '../assets/indigenasMobilePath.svg?component'
import cinemaMobile from '../assets/cinemaMobilePath.svg?component'
import arquiteturaMobile from '../assets/arquiteturaMobilePath.svg?component'
import saudeMobile from '../assets/saudeMobilePath.svg?component'
import operariosMobile from '../assets/operariosMobilePath.svg?component'

import Icons from '../components/images/icons.vue'
import CircuitsBar from '../components/circuitsBar.vue'

/* import audioguia_Cinema from '../assets/audioguia_Cinema.jpg'
import audioguia_Futebol from '../assets/audioguia_Futebol.jpg'
import audioguia_Saude from '../assets/audioguia_Saude.jpg' */

export default defineComponent({
  components: {
    //provisoryImages: [audioguia_Cinema, audioguia_Futebol, audioguia_Saude],
    samba, teatro, futebol, lgbtqia, resistencia, indigenas, cinema, arquitetura, saude, operarios,
    sambaMobile, teatroMobile, futebolMobile, lgbtqiaMobile, resistenciaMobile, indigenasMobile, cinemaMobile, arquiteturaMobile, saudeMobile, operariosMobile,
    Icons,
    CircuitsBar
  },
  data() {
    return {
      audioLoaded: false,
      currentTour: this.$route.params.tour,
      currentTime: 0,
      currentInterval: 0,
      stagesNum: 0,
      chapter: 0,
      currentImage: 0,
      numChapters: 0,
      prevColor: '#fff',
      nextColor: '#fff',
      imageTimer: 0,
      dragging: false,
      barSize: 0,
      draggingTime: 0,
      images: {},
      startTime: -1,
      dragStart: 0,
      side: 'left',
      nextHook: () => {}
    }
  },
  computed: {
    // currentInfo () {
    //   return this.$store.state.circuits[this.currentTour]
    // },
    next () {
      const circuits = Object.keys(this.$store.state.circuits)
      return circuits.indexOf(this.currentTour) === circuits.length - 1 ? circuits[0] : circuits[circuits.indexOf(this.currentTour) + 1]
    },
    prev () {
      const circuits = Object.keys(this.$store.state.circuits)
      return circuits.indexOf(this.currentTour) === 0 ? circuits[circuits.length - 1] : circuits[circuits.indexOf(this.currentTour) - 1]
    }
  },
  methods: {
    changeImage(timestamp: number) {

      if (this.startTime === -1) {
        this.startTime = timestamp
      }

      const elapsed = timestamp - this.startTime

      if (elapsed > 10000) {
        this.currentImage += 1
        if (this.currentImage >= this.$store.state.circuits[this.currentTour].audioguiaImgs.length)
          this.currentImage = 0
        this.startTime = timestamp
      }
      window.requestAnimationFrame(this.changeImage)
    },
    toggleAudio () {
      const audioPlayer = this.$refs[`audioPlayer-${this.currentTour}`] as HTMLAudioElement
      if(audioPlayer.paused) audioPlayer.play()
      else audioPlayer.pause()
    },
    onended () {
      this.turnOffPoint(this.chapter)
      this.$router.push(`/audioguias/${this.next}`)
    },
    changeChaper (newChapter: number) {
      this.turnOffPoint(this.chapter)
      this.chapter = newChapter
      this.turnOnPoint(this.chapter)
    },
    ontimeupdate () {
      const audioPlayer = this.$refs[`audioPlayer-${this.currentTour}`] as HTMLAudioElement
      this.currentTime = audioPlayer.currentTime
      this.barSize = 100.0 * audioPlayer.currentTime / audioPlayer.duration

      if (this.currentTime < this.$store.state.circuits[this.currentTour].audioguiaTimes[0]) {
        this.turnOffPoint(this.chapter)
      } else {
        for (let i = 0; i < this.stagesNum; i++) {
          const nextStage = i + 1 === this.stagesNum ? audioPlayer.duration : this.$store.state.circuits[this.currentTour].audioguiaTimes[i+1]
          if(this.currentTime >= this.$store.state.circuits[this.currentTour].audioguiaTimes[i]
          && this.currentTime < nextStage) {
            if (this.chapter !== i + 1) { 
              this.changeChaper(i + 1)
            }
            return
          }
        }
      }
    },
    turnOnPoint (pointNumber: number) {
      for (const b of document.getElementsByClassName('box' + pointNumber)) {
        b.classList.add('active')
      }
      for (const b of document.getElementsByClassName('texto' + pointNumber)) {
        b.classList.add('active')
      }
       for (const b of document.getElementsByClassName('ponto' + pointNumber)) {
        b.classList.add('active')
      }
    },
    turnOffPoint (pointNumber: number) {
      for (const b of document.getElementsByClassName('box' + pointNumber)) {
        b.classList.remove('active')
      }
      for (const b of document.getElementsByClassName('texto' + pointNumber)) {
        b.classList.remove('active')
      }
      for (const b of document.getElementsByClassName('ponto' + pointNumber)) {
        b.classList.remove('active')
      }
    },
    changePlayTime (event: MouseEvent): void {
      const audioPlayer = this.$refs[`audioPlayer-${this.currentTour}`] as HTMLAudioElement
      const dragBar = this.$refs.dragBar as HTMLDivElement
      const newSize = (event.clientX - dragBar.getBoundingClientRect().left) * 100 / dragBar.clientWidth
      // if(this.dragStart !== event.clientX)
      this.barSize = newSize < 0 ? 0 : newSize > 100 ? 100 : newSize
      this.draggingTime = this.barSize / 100 * audioPlayer.duration
    },
    mouseMove (event: MouseEvent): void {
      this.dragProgressBar(event)
    },
    activateProgressBar (event: MouseEvent): void {
      if(this.audioLoaded) {
        this.dragging = true
        this.dragStart = event.clientX
        this.changePlayTime (event)
      }
    },
    dragProgressBar (event: MouseEvent): void {
      if(this.dragging) {
        this.changePlayTime (event)
      }
    },
    releaseProgressBar (event: MouseEvent) {
      if (this.dragging) {
        const audioPlayer = this.$refs[`audioPlayer-${this.currentTour}`] as HTMLAudioElement
        // if(this.dragStart === event.clientX) {
        //   audioPlayer.paused ? audioPlayer.play() : audioPlayer.pause()
        // } else {
          audioPlayer.currentTime = this.draggingTime
          audioPlayer.play()
        //}
        this.dragging = false
      }
    },
    goNext ()  {
      this.side = 'right'
      this.$router.push(`/audioguias/${this.next}`)
    },
    goPrev ()  {
      this.side = 'left'
      this.$router.push(`/audioguias/${this.prev}`)
    },
    transitionEnd () {
      this.nextHook()
    }
  },
  watch: {
    '$store.state.muted' (newValue, oldValue) {
      const audioPlayer = this.$refs.audioPlayer as HTMLAudioElement
      audioPlayer.volume = newValue ? 0 : 1
    }
  },
  created () {
    this.images = import.meta.globEager('../../base/assets/audioguia-*jpg')
  },
  mounted () {
    this.swipe = new SwipeIt('body')
    this.swipe.on('swipeRight', (ev) => {
      if (ev.explicitOriginalTarget) {
        if (ev.explicitOriginalTarget.id !== 'timeline')
          this.$router.push(`/audioguias/${this.next}`)
      } else {
        this.$router.push(`/audioguias/${this.next}`)
      }
    })
    this.swipe.on('swipeLeft', (ev) =>  {
      if (ev.explicitOriginalTarget) {
        if (ev.explicitOriginalTarget.id !== 'timeline')
          this.$router.push(`/audioguias/${this.prev}`)
      } else {
        this.$router.push(`/audioguias/${this.prev}`)
      }
    })

    window.requestAnimationFrame(this.changeImage)

    const pontos = document.getElementsByClassName('pin')
    this.stagesNum = pontos.length

    window.addEventListener('mousemove', this.mouseMove)
    window.addEventListener('mouseup', this.releaseProgressBar)
  },
  beforeRouteLeave(to, from, next) {
    this.swipe.off()
    next()
  },
  unmounted () {
    window.removeEventListener('mousemove', this.mouseMove);
    window.removeEventListener('mouseup', this.releaseProgressBar);
  },
  beforeRouteUpdate (to, from, next) {
    this.swipe.off()
    this.currentTour = to.params.tour
    this.nextHook = next
  }
})
</script>

<style lang="postcss" scoped>
.svg-arrow {
  fill: none;
  stroke: currentColor;
  stroke-width: 1.5;
}

.content-wrapper {
  min-height: 50vh;
}

:deep(.cls-1) {
  fill: none;
  stroke: currentColor;

  @apply stroke-2 sm:stroke-1;
}

:deep(.st0) {
  @apply stroke-5 lg:stroke-4 2xl:stroke-3;

  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
}

:deep(.pin) {
  fill: currentColor;
}

:deep(.timePoint) {
  opacity: 0;
  transition: opacity 1s;
}

:deep(.texto) {
  @apply italic;

  opacity: 0;
  font-size: 48px;
  transition: opacity 1s;
}

:deep(.box) {
  fill: currentColor;
  opacity: 0;
  transition: opacity 1s;
}

:deep(.pin) {
  stroke: currentColor;
  opacity: 0;
  transition: opacity 1s;
}

:deep(.box.active) {
  opacity: 1;
  transition: opacity 1s;
}

:deep(.texto.active) {
  opacity: 1;
  transition: opacity 1s;
}
:deep(.pin.active) {
  opacity: 1;
  transition: opacity 1s;
}

:deep(.currentPoint) {
  opacity: 1;
  transition: opacity 1s;
}

.timeline {
  @apply h-11 bg-contain;

  background-repeat: repeat-x;
}

/* .timeline-wrapper {
  transition: width 0.3s;
} */

.timeline-passed {
  background-image: url('/assets/audiotime-passed.png');
  min-width: 200px;
}

.blink {
  animation: blinker 3s linear infinite;
}

@media all and (max-width: 1200px) {
  :deep(.guide-labels) {
    font-size: 80px;
  }
}

@media screen and (max-device-width: 900px) and (orientation: landscape) {
  .content-wrapper {
    min-height: 50vw;
  }
}

</style>
