<template>
  <div class="flex-grow flex flex-col pb-16">

    <circuits-bar class="hidden md:flex" section="audioguias"></circuits-bar>

    <header
      class="relative px-12 my-3 w-full flex flex-col justify-center text-center xl:my-6">
      <h1 class="underline larger mobile-landscape:text-lg">
        {{headerInfo.name}}
      </h1>
      <h2
        class="text-info italic mt-6 header-texts
            md:absolute md:w-1/3 md:right-0 md:top-0 md:mt-0 md:px-8 md:text-left
            lg:px-12 xl:px-16 2xl:px-20"
        v-html="headerInfo.description">
      </h2>
    </header>

    <div class="flex-grow hidden md:flex items-center relative" aria-hidden="true" role="none">
      <div class="absolute top-0 w-full h-full flex flex-col items-center">
        <div class="flex-grow w-full relative flex">
          <div class="absolute top-0 w-full h-full flex">
            <audio-paths
              @activate="goTo">
            </audio-paths>
          </div>
        </div>
      </div>
      <div
        v-show="activateText"
        class="absolute flex right-52"
        :style="{'top': mouseY + 'px', 'left': mouseX + 'px', 'color': circuitColor}"
        >
        <icons
          type="marker"
          class="w-5 h-5 mr-2"
          ></icons>
        <span class="uppercase">
          {{ circuitName }}
        </span>
      </div>
    </div>

    <!-- Mobile -->
    <div class="flex flex-col md:hidden">
      <router-link
        v-for="(circuito, destination) in $store.state.circuits"
        :key="destination"
        :to="`/audioguias/${destination}`"
        :style="{color: circuito.color}">
        <div class="flex mx-8 mt-12">
          <icons
            type="marker"
            class="w-5 h-5 mr-2"
            ></icons>
          <span class="uppercase">
            {{circuito.name}}
          </span>
        </div>
        <component :is="destination" class="my-4"></component>
      </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import AudioPaths from '../components/images/audioPaths.vue'
import Icons from '../components/images/icons.vue'
import CircuitsBar from '../components/circuitsBar.vue'

import samba from '../assets/sambaMobilePath.svg?component'
import teatro from '../assets/teatroMobilePath.svg?component'
import futebol from '../assets/futebolMobilePath.svg?component'
import lgbtqia from '../assets/lutasMobilePath.svg?component'
import resistencia from '../assets/resistenciaMobilePath.svg?component'
import indigenas from '../assets/indigenasMobilePath.svg?component'
import cinema from '../assets/cinemaMobilePath.svg?component'
import arquitetura from '../assets/arquiteturaMobilePath.svg?component'
import saude from '../assets/saudeMobilePath.svg?component'
import operarios from '../assets/operariosMobilePath.svg?component'

export default defineComponent({
  components: {
    AudioPaths,
    Icons,
    CircuitsBar,
    samba,
    teatro,
    futebol,
    lgbtqia,
    resistencia,
    indigenas,
    cinema,
    arquitetura,
    saude,
    operarios
  },
  data () {
    return {
      headerInfo: this.$store.state.pages.audioguias,
      activateText: false,
      circuitColor: 'white',
      circuitName: '',
      mouseX: 0,
      mouseY: 0
    }
  },
  mounted () {
    document.onmousemove = this.updateMousePosition
  },
  beforeRouteLeave (to, from, next) {
    console.log('aqui')
    this.$store.commit('disableAudioguiasAnimation')
    next()
  },
  beforeRouteUpdate (to, from, next) {
    console.log('aqui')
    this.$store.commit('disableAudioguiasAnimation')
    next()
  },
  methods: {
    // updateMousePosition (event) {
    //   this.mouseX = event.pageX
    //   this.mouseY = event.pageY
    // },
    // showText (circuit: string) {
    //   if (circuit in this.$store.state.circuits) {
    //     this.circuitColor = this.$store.state.circuits[circuit].color
    //     this.circuitName = circuit
    //     this.activateText = true
    //   } else {
    //     this.activateText = false
    //   }
    // },
    goTo (circuit: string) {
      this.$router.push(`/audioguias/${circuit}`)
    }
  }
})
</script>

<style lang="postcss" scoped>
:deep(.cls-1) {
  fill: none;
  stroke: currentColor;

  @apply stroke-2 sm:stroke-1;
}
</style>
