<template>
  <div class="w-full inline-flex flex-col md:flex-grow">
    {{buffering}}
    <div class="flex-col">
      <button
        @click="scrollBottom"
        class="flex flex-col md:hidden items-center w-full underline py-4 mobile-landscape:flex">
        <h1 class="mb-0 large">circuitos</h1>
        <small class="text-xs mb-1">VER TODOS</small>
      </button>

      <!-- mobile -->
      <div class="flex items-center h-12 w-full text-black px-4
                  md:hidden mobile-landscape:flex"
            :style="{backgroundColor: currentInfo.color}">
        <span class="w-1/4 text-xs uppercase italic">swipe para o próximo</span>
        <div
          class="w-1/2 flex items-center justify-center"
          >

          <icons
            type="marker"
            class="w-4 h-4 sm:w-6 sm:h-6 mx-1"
            ></icons>
          <h1 class="mb-0 text-base header-texts"><b>{{currentInfo.name}}</b></h1>
        </div>

        <div class="w-1/4 flex">
          <router-link tag="button" :to="`/circuitos/${nextPage}`" class="flex justify-end h-auto w-20 lg:w-24 xl:w-32 md:pr-4 items-center">
          <svg viewBox="0 0 71.4 50.7" class="svg-arrow h-6 ml-3">
            <path d="M46.3,50.7l25.1-25.1L46.3,0.5"/>
            <line x1="71.4" y1="25.6" x2="0.7" y2="25.6"/>
          </svg>
          </router-link>
        </div>
      </div>
    </div>

    <circuits-bar class="hidden md:flex mobile-landscape:hidden" section="circuitos"></circuits-bar>

    <article class="md:flex-grow flex flex-col md:flex-row mobile-landscape:flex-col">
      <div
        class="video-div flex flex-col overflow-hidden md:flex-grow mobile-landscape:flex-grow-0">
        <div
          class="video-page relative flex-grow overflow-hidden flex">
          <transition-group
            ref="transition"
            :name="`slide-${side}`"
            @afterEnter="animationEnd()">
            <div :key="currentVideo" class="absolute flex-grow w-full h-full flex">
              <fullscreen-vimeo
                :ref="`player${currentVideo}`"
                :videoKey="currentVideo"
                :fullscreen="players[currentVideo]"
                :alt="`Circuito ${currentInfo.number} – ${currentInfo.name} – Video ${currentInfo.videos.length > 1 ? (currentVideo + 1) + ' de ' + currentInfo.videos.length : 'único'}`"
                class="video bg-black object-cover"
                @exitfullscreen="exitFullscreen($event)"
                @ended="changeVideo()"
                @pause="handlePause()"
                @playing="playVideo()"
                @buffering="buffering = true"
                :autoplay="currentVideo + 1 === currentPlaying"
                :vidId="currentInfo.videos[currentVideo]">
              </fullscreen-vimeo>
              <button
                v-if="currentVideo + 1 !== currentPlaying && !buffering"
                :class="{'absolute top-0 w-full h-full flex flex-col items-center justify-center opacity-0 currentInfo fade-in': true,
                        'hover:opacity-100': currentVideo + 1 !== currentPlaying}"
                @click="toggleVideo()">
                <icons type="play" class="w-8 h-8"></icons>
                <span class="uppercase italic underline pt-4 text-3xl">  assistir</span>
              </button>
              <button
                v-if="currentInfo.videos.length > 1 && currentVideo === 0"
                class="absolute flex flex-col next
                      left-1/2 bottom-0 transform -translate-x-1/2 mb-5 z-30"
                @click="changeVideo()">
                <arrow-down
                  class="h-8 xl:h-16 mx-auto"
                  />
                <div class="uppercase mb-4 text-2xs xl:text-xs py-2 xl:py-4">próximo</div>
              </button>
              <button
                v-else-if="currentInfo.videos.length > 1"
                class="absolute flex flex-col next
                      left-1/2 top-0 transform -translate-x-1/2 mt-5 z-30"
                @click="changeVideo()">
                <arrow-down
                  class="h-8 xl:h-16 mx-auto transform rotate-180"
                  />
                <div class="uppercase mb-4 text-2xs xl:text-xs py-2 xl:py-4">anterior</div>
              </button>
            </div>
          </transition-group>
        </div>
      </div>

      <aside
        class="flex flex-col mobile-landscape:flex-row">

        <div class="side-item order-4 flex-grow md:order-1 flex flex-col mobile-landscape:order-1">
          <h1 class="ml-4 mb-0 md:hidden mobile-landscape:block">placas da memória</h1>
          <div class="relative overflow-hidden h-72 md:h-auto md:flex-grow mobile-landscape:h-72">
            <map-guide :color="currentInfo.color" :tour="$route.params.tour" class="absolute top-0 w-full h-full pointer-events-none"></map-guide>
          </div>
        </div>

        <div
          class="side-item hidden bg-black md:flex items-center order-2 mobile-landscape:hidden"
          v-if="currentInfo">
          <div class="p-5 lg:p6 xl:p-8 h-auto flex-grow next">
            <h1
              class="underline large whitespace-nowrap"
              :style="{color: currentInfo.color}">
              {{currentInfo.name}}
            </h1>
            <small class="italic">
              {{currentInfo.about}}
            </small>
          </div>
          <router-link tag="button" :to="`/circuitos/${nextPage}`" class="flex h-auto w-20 items-center">
            <arrow-right class="items-center pr-4" :altColor="$store.state.circuits[nextPage]['color']"></arrow-right>
          </router-link>
        </div>

        <div class="side-item order-3 my-6
                    md:h-auto flex-grow flex flex-col md:m-0 mobile-landscape:order-3 mobile-landscape:my-0">
          <h1 class="ml-4 mb-0 md:hidden mobile-landscape:block">Audioguias</h1>
          <div class="relative overflow-hidden h-72 flex items-center md:h-auto md:flex-grow mobile-landscape:h-72">
            <img
            :src="`/assets/${currentInfo.circuitImg}.jpg`"
            class="object-cover object-center absolute w-full h-full"
            />
            <transition-group name="fade">
              <button
                  v-if="currentPlaying === 0"
                  class="multiply-button absolute w-full h-full z-20 flex items-center justify-center fade-in"
                  @click="toggleAudio()">
                <img
                  class="absolute px-8"
                  src="/assets/soundWaves.svg" />
              </button>
              <button
                v-else
                class="multiply-button absolute w-full h-full z-20 opacity-0 hover:opacity-100 flex items-center justify-center fade-in"
                @click="toggleAudio()">
                <icons type="audio" class="w-12 h-12"></icons>
              </button>
            </transition-group>
            <audio
              ref="audioPlayer"
              id="audioPlayer"
              :muted="$store.state.muted"
              class="hidden z-index-10">
              <source :src="`/assets/${currentInfo.audioguiaAudio}`" type="audio/mpeg">
            </audio>
            <div class="multiply-bg absolute w-full top-0 h-full bg-light-blue mix-blend-multiply fade-in"></div>
          </div>
        </div>
      </aside>

      <!-- mobile -->
      <div id="circuitos" class="md:hidden flex flex-col mb-6 mobile-landscape:flex">
        <template v-for="(circuito, key) in $store.state.circuits" :key="key">
          <router-link
              :to="`/circuitos/${key}`"
              v-if="circuito.number !== currentInfo.number"
              class="flex items-center h-12 w-full text-black px-4 mb-1 circuit-link"
              :style="{backgroundColor: circuito.color}">
            <div
              class="flex-grow flex items-center mx-8"
              >
              <icons
                type="marker"
                class="w-4 h-4  md:w-6 md:h-6 mx-1"
                ></icons>
              <h1 class="mb-0"><b>{{circuito.name}}</b></h1>
            </div>
          </router-link>
        </template>
      </div>
    </article>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { gsap } from 'gsap'
import SwipeIt from '../utils/swipe'
import { ScrollToPlugin } from "gsap/ScrollToPlugin"

import ArrowDown from '../assets/arrowDown.svg?component'

import mapGuide from '../components/mapGuide.vue'
import FullscreenVimeo from '../components/fullscreenVimeo.vue'
import circuitMarker from '../components/home/circuitMarker.vue'
import circuitsBar from '../components/circuitsBar.vue'
import Icons from '../components/images/icons.vue'

import gif1 from '../assets/audioguia_Futebol.jpg'
import ArrowRight from '../components/images/arrowRight.vue'
import FullscreenButton from '../components/fullscreenButton.vue'

export default defineComponent({
  components: { mapGuide, circuitMarker, Icons, FullscreenVimeo, ArrowRight, circuitsBar, ArrowDown},
  data() {
    return {
      side: 'bottom',
      gif: gif1,
      currentPlaying: -1,
      xDown: -1,
      yDown: -1,
      currentVideo: 0,
      players: {},
      buffering: true
    }
  },
  computed: {
    previousPage () {
      const currentKey = this.$route.params.tour as string
      const circuits = Object.keys(this.$store.state.circuits)
      let previous = circuits.indexOf(currentKey) === 0 ? circuits.length - 1 : circuits.indexOf(currentKey) - 1
      return circuits[previous]
    },
    nextPage (): string {
      const currentKey = this.$route.params.tour as string
      const circuits = Object.keys(this.$store.state.circuits)
      let next = circuits.indexOf(currentKey) === circuits.length - 1 ? 0 : circuits.indexOf(currentKey) + 1
      return circuits[next]
    },
    currentInfo () {
      return this.$store.state.circuits[this.$route.params.tour]
    }
  },
  methods: {
    exitFullscreen(event) {
      this.players[event] = false
    },
    makeFullscreen(event) {
      this.players[event] = true
    },
    playVideo () {
      this.currentPlaying = this.currentVideo + 1
    },
    pause () {
      this.currentPlaying = -1
    },
    handlePause () {
      if(this.currentPlaying === this.currentVideo + 1) this.pause()
    },
    toggleAudio () {
      const audio = this.$refs.audioPlayer as HTMLAudioElement
      if (audio.paused) this.currentPlaying = 0
      else this.currentPlaying = -1
    },
    toggleVideo () {
      const video = this.$refs[`player${this.currentVideo}`] as HTMLVideoElement
      if (video.paused) this.currentPlaying = this.currentVideo + 1
      else this.currentPlaying = -1
    },
    animationEnd () {
      const video = this.$refs[`player${this.currentVideo}`] as HTMLVideoElement
      if(this.currentPlaying !== 0) this.playVideo()
      video.calcWidth()
    },
    scrollBottom () {
      gsap.to(window, {
        duration: 2,
        ease: "power4.out",
        scrollTo: "#circuitos"
      })
    },
    goNext () {
      this.$router.push(`/circuitos/${this.nextPage}`)
    },
    goPrev () {
      this.$router.push(`/circuitos/${this.previousPage}`)
    },
    changeVideo () {
      if(this.currentInfo.videos.length > 1) this.currentVideo = this.currentVideo === this.currentInfo.videos.length - 1 ? 0 : 1
      this.side = this.currentVideo === this.currentInfo.videos.length - 1 ? 'top' : 'bottom'
    },
    enterTransition () {
      gsap.timeline({
        defaults: { duration: 0.8, ease: "power4.in" },
      })
      .from(".side-item", { x: 500, opacity: 0, stagger: 0.1  })
      .from(".video-page", { x: -500, opacity: 0, stagger: 0.1 }, "-=1")
    }
  },
  watch: {
    currentPlaying () {
      const mainVideo = this.$refs[`player${this.currentVideo}`] as HTMLVideoElement
      const audio = this.$refs.audioPlayer as HTMLAudioElement
      if (this.currentPlaying === 0 ) {
        mainVideo.pause()
        audio.play()
      } else if (this.currentPlaying > 0 ) {
        this.buffering = false
        mainVideo.play()
        audio.pause()
      } else {
        mainVideo.pause()
        audio.pause()
      }
    }
  },
  created () {
    gsap.registerPlugin(ScrollToPlugin)
  },
  mounted () {
    for (let i = 0; i < this.currentInfo.videos.length; ++i) {
      this.players[i] = false
    }
    this.currentPlaying = 1;
    this.swipe = new SwipeIt('body')
    this.swipe.on('swipeRight', (ev) => {
      if (ev.explicitOriginalTarget && ev.explicitOriginalTarget.id.indexOf('plyr-seek') == -1) {
        this.$router.push(`/circuitos/${this.nextPage}`)
      } else {
        this.$router.push(`/circuitos/${this.nextPage}`)
      }
    })
    this.swipe.on('swipeLeft', (ev) =>  {
      if (ev.explicitOriginalTarget && ev.explicitOriginalTarget.id.indexOf('plyr-seek') == -1) {
        this.$router.push(`/circuitos/${this.previousPage}`)
      } else {
        this.$router.push(`/circuitos/${this.previousPage}`)
      }
    })
    this.enterTransition()
  },
  beforeRouteUpdate (to, from, next) {
    this.swipe.off()
    gsap.timeline({
      defaults: { duration: 0.8,  ease: "power4.out" },
      onComplete: () => next()
    })
    .to(".side-item", { x: 500, opacity: 0, stagger: 0.1  })
    .to(".video-page", { x: -500, opacity: 0, stagger: 0.1 }, "-=1")
    //.to("#logo", { opacity: 0, delay: 2, duration: 1 })
  },
  beforeRouteLeave (to, from, next) {
    console.log('leave')
    this.swipe.off()
    next()
  },
})
</script>

<style lang="postcss" scoped>
:deep(.st0) {
  fill: none;
  stroke: #FFFFFF;
  stroke-linecap: round;
}

:deep(#Line_6) {
  stroke-dasharray: 150;
}

:deep(.next:hover #Line_6) {
  animation: dash 1s ease-in-out infinite;
}

@keyframes dash {
  from {
     stroke-dashoffset: 0;
  }

  to {
     stroke-dashoffset: 300;
  }
}

.multiply-bg {
  opacity: 0;
}

.multiply-button:hover ~ .multiply-bg {
  opacity: 1
}

.video-div {
  height: calc(100vh - 5.4rem);
}

.fade-in {
  transition: all 0.3s ease-in-out
}

.circuit-link {
  min-height: 3rem;
}

.svg-arrow {
  fill: none;
  stroke: currentColor;
  stroke-width: 1.5;
}

@media (min-width: 768px) {
  aside {
    min-width: 25rem;
    width: 30%;
  }

  /* .video-div {
    height: calc(100vh - 9.4rem);
  } */
}

@media (min-width: 1280px) {
  .video-div {
    height: calc(100vh - 9.4rem);
  }
}

@media screen and (max-device-width: 900px) and (orientation: landscape) {
   aside {
    min-width: 25rem;
    width: 100%;
    padding: 2rem 0;
  }
}

</style>
