<template>
  <div class="flex-grow flex flex-col">
    <header
      @click="$store.commit('closeGaleriasInfo')"
      :class="['relative px-12 w-full flex flex-col justify-center items-center text-center header-texts',
            'md:flex-row',
            $store.state.galeriasInfo ? 'py-2 mobile-landscape:p-0 mobile-landscape:h-0' : 'py-3']">
      <h1
        :class="['underline larger',
              'md:order-2 md:w-1/3 md:my-0 md:mx-8 mobile-landscape:text-lg',
              $store.state.galeriasInfo ? 'h-0 p-0 m-0 opacity-0' : '']">
        {{headerInfo.name}}
      </h1>
      <h2
        :class="['text-info hidden relative h-full italic header-texts md:flex items-center md:order-3 md:my-0 md:w-1/3',
                $store.state.galeriasInfo ? 'h-0 p-0 m-0 opacity-0' : 'h-auto mt-4']">
          <transition-group
            name="fade-delayed">
            <span :key="currentTour" class="absolute w-full" v-html="$store.state.gallerys[currentTour]['name']"></span>
          </transition-group>
      </h2>
      <h2
        :class="['header-texts italic md:text-left flex flex-col md:order-1 md:w-1/3 md:my-0',
                $store.state.galeriasInfo ? 'h-0 p-0 m-0 opacity-0' : 'h-auto mt-4']">
        <span
          class="md:text-dark-gray"
          v-html="headerInfo.description"></span>
      </h2>
    </header>

    <!-- mobile -->
    <h2 :class="['text-center w-full md:hidden px-2 uppercase',
                $store.state.galeriasInfo ? 'py-2' : 'py-4']"
      v-html="$store.state.gallerys[currentTour]['name']">
    </h2>

    <!-- all -->
    <div
      class="relative flex-grow flex items-center">
      <transition-group
        ref="transition"
        :name="`slide-${side}`"
        @afterEnter="transitionEnd">
        <iframe
          :key="currentTour"
          class="absolute w-full h-full bg-white"
          :src="$store.state.gallerys[currentTour]['src']"
          allow="fullscreen"
          title="tour">
        </iframe>
      </transition-group>
      <!-- <router-link
        class="hidden md:block absolute left-0 ml-5 z-30"
        :to="`/galerias/${next}`">
        <arrow-left :altColor="$store.state.gallerys[prev]['color']"></arrow-left>
      </router-link>
      <router-link
        class="hidden md:block absolute right-0 mr-5 z-30"
        :to="`/galerias/${prev}`">
        <arrow-right :altColor="$store.state.gallerys[next]['color']"></arrow-right>
      </router-link> -->
      <button
        v-if="!$store.state.galeriasInfo"
        class="absolute w-full h-full bg-black bg-opacity-60 shadow-inner md:bg-transparent md:hidden"
        @click="$store.commit('closeGaleriasInfo')">
        <h1 class="underline">navegue</h1>
      </button>
    </div>

    <div class="relative hidden md:flex h-10 px-4">
      <transition-group
        name="fade-delayed">
        <div :key="currentTour" class="absolute h-full w-full flex items-center md:px-12">
          <div class="flex-grow flex">
            <button
              @click="goPrev"
              class="flex items-center text-white hover:underline">
              <svg viewBox="0 0 71.88 51.15" class="h-6 mr-4">
                <path class="svg-arrow" d="M25.08,0,0,25.08,25.08,50.15" transform="translate(0.71 0.5)"/>
                <line class="svg-arrow" x1="0.71" y1="25.58" x2="71.38" y2="25.58"/>
              </svg>
              <span class="hidden md:block italic">{{$store.state.gallerys[prev].name}}</span>
            </button>
          </div>

          <div
            class="flex items-center justify-center md:hidden"
            >
            <span class="flex-grow text-xs uppercase italic text-center">swipe para o próximo</span>
          </div>

          <div class="flex-grow flex justify-end ">
            <button
              @click="goNext"
              class="flex items-center text-white hover:underline">
              <span class="hidden md:block italic">{{$store.state.gallerys[next].name}}</span>
              <svg viewBox="0 0 71.4 50.7" class="h-6 ml-4">
                <path class="svg-arrow" d="M46.3,50.7l25.1-25.1L46.3,0.5"/>
                <line class="svg-arrow" x1="71.4" y1="25.6" x2="0.7" y2="25.6"/>
              </svg>
            </button>
          </div>
        </div>
      </transition-group>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

import ArrowLeft from '../components/images/arrowLeft.vue'
import ArrowRight from '../components/images/arrowRight.vue'

export default defineComponent({
  components: { ArrowLeft, ArrowRight },
  data () {
    return {
      side: 'left',
      headerInfo: this.$store.state.pages.galerias,
      currentTour: this.$route.params.tour,
      nextHook: () => {}
    }
  },
  computed: {
    next () {
      const gallerys = Object.keys(this.$store.state.gallerys)
      return gallerys.indexOf(this.currentTour) === gallerys.length - 1 ? gallerys[0] : gallerys[gallerys.indexOf(this.currentTour) + 1]
    },
    prev () {
      const gallerys = Object.keys(this.$store.state.gallerys)
      return gallerys.indexOf(this.currentTour) === 0 ? gallerys[gallerys.length - 1] : gallerys[gallerys.indexOf(this.currentTour) - 1]
    }
  },
  methods: {
    goNext ()  {
      this.side = 'right'
      this.$router.push(`/galerias/${this.next}`)
      //this.currentTour = this.next
    },
    goPrev ()  {
      this.side = 'left'
      this.$router.push(`/galerias/${this.prev}`)
      //this.currentTour = this.prev
    },
    transitionEnd () {
      this.nextHook()
    }
  },
  watch: {
    '$route.params.tour' (to, from) {
      //this.currentTour = to
    }
  },
  beforeRouteUpdate (to, from, next) {
    this.currentTour = to.params.tour
    this.nextHook = next
  }
})
</script>

<style lang="postcss" scoped>
.header-texts {
  transition: all 0.3s ease-in-out;
}

.svg-arrow {
  fill: none;
  stroke: currentColor;
  stroke-width: 1.5;
}
</style>
