<template>
  <div class="flex-grow flex flex-col">

    <header
      class="relative px-12 my-3 xl:my-6 w-full flex flex-col justify-center text-center header-texts
            md:flex-row">
      <h1
        class="underline larger
              md:order-2 md:w-1/3 md:my-0 md:mx-8 mobile-landscape:text-lg">
        {{headerInfo.name}}
      </h1>
      <h2
        class="text-info italic header-texts mt-6 md:order-3 md:w-1/3 md:my-0 md:text-left"
        v-html="headerInfo.instruction">
      </h2>
      <h2
        class="header-texts italic my-6 md:order-1 md:text-dark-gray md:w-1/3 md:my-0 md:text-left"
          v-html="headerInfo.description">
      </h2>
    </header>

    <div
      v-for="(place, key) in $store.state.gallerys" :key="key"
      class="flex relative justify-center gallery-item overflow-hidden">
      <img
        :src="images[`../../base/assets/360_${place.image}.jpg`].default"
        class="object-cover object-center w-full"
        />
      <router-link
        class="button absolute p-8 top-0 left-0 w-full h-full flex flex-col items-center justify-center bg-black bg-opacity-60 shadow-inner md:bg-opacity-100 md:opacity-0 hover:opacity-100"
        :to="`/galerias/${key}`">
          <h1 class="mb-0 large md:mb-4 lg:mb-6 xl:mb-8 text-center">{{place.name}}</h1>
          <span class="hidden md:block underline italic">clique para ver</span>
      </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import CircuitMarker from '../components/home/circuitMarker.vue'
import { gsap } from 'gsap'

export default defineComponent({
  components: { CircuitMarker },
  data () {
    return {
      headerInfo: this.$store.state.pages.galerias,
      images: {}
    }
  },
  created () {
    this.images = import.meta.globEager('../../base/assets/360_*jpg')
  },
  mounted () {
    gsap.timeline({
      defaults: { duration: 0.6 },
      onComplete: this.disableElements
    })
    .from(".gallery-item", { y: 500 ,opacity: 0, stagger: 0.2, delay: 0.3 })
  }
})
</script>

<style lang="postcss" scoped>
.button {
  transition: all 0.3s ease-in-out;
}

.gallery-item {
  height: 67vh;
}

@media (min-width: 756px) {
  .gallery-item {
    height: 25vh;
    min-height: 8rem;
  }
}
</style>
