<template>
  <div id="home" class="w-full h-full">
    <map-guide :tour="$route.params.tour"></map-guide>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import mapGuide from '../components/mapGuide.vue'

export default defineComponent({
  components: {
    mapGuide
  },
})
</script>

<style scoped>

</style>
