<template>
  <div id="home" class="relative w-full h-full ">
    <transition-group
      :name="`slide-${side}`">
      <div
        :key="videoPlaying"
        :class="['w-full text-white flex items-center justify-center custom-height-small overflow-hidden md:absolute md:top-9 xl:top-12 z-20 portrait:relative',
                firstHalf ? 'top-0 custom-height-small' : 'bottom-video custom-height']"
        @click="playVideo"
        @mousemove="triggerArrow">

        <fullscreen-vimeo
          ref="player"
          :videoKey="currentVideo"
          :alt="`Circuito ${currentInfo.number} – ${currentInfo.name} – Video ${currentInfo.videos.length > 1 ? (currentVideo + 1) + ' de ' + currentInfo.videos.length : 'único'}`"
          class="video bg-black object-cover"
          :vidId="videoPlaying"
          autoplay
          @ended="nextVideo()">
        </fullscreen-vimeo>
        <button
          class="hidden md:block absolute left-0 ml-5 z-30 seta
                  portrait:hidden"
          @click="previousVideo()">
          <arrow-left :altColor="$store.state.circuits[prev]['color']"></arrow-left>
        </button>
        <button
          class="hidden md:block absolute right-0 mr-5 z-30 seta
                  portrait:hidden"
          @click="nextVideo()">
          <arrow-right :altColor="$store.state.circuits[next]['color']"></arrow-right>
        </button>

        <button
          v-if="firstHalf"
          class="absolute z-20 bottom-9 hidden lg:block seta veja-todos">
          <div class="uppercase mb-2 xl:mb-4 text-2xs xl:text-xs">
            Veja todos
          </div>
          <arrow-down
            @click="showAll"
            class="h-8 xl:h-16 mx-auto"
            />
        </button>

        <div
          v-if="firstHalf && $store.state.homeAnimation"
          class="absolute z-20 w-1/2 h-1/2 flex items-center justify-center">
          <img
            id="logo"
            src="/assets/logo.svg"
            alt="Circuito Memória Paulistana"
            class="absolute z-20 w-32 xl:w-60"
            />
          <div class="flex flex-col items-center z-20 bottom-9 lg:hidden vire-celular">
            <arrow-down
              class="h-16 transform rotate-180"
              />
            <div class="uppercase my-4 px-12 text-xs text-center">
              Vire o celular para
              assistir o vídeo
              na horizontal
            </div>
            <arrow-down
              class="h-16"
              />
          </div>
        </div>
      </div>
    </transition-group>

    <div class="flex items-center h-9 bg-black
                md:hidden portrait:flex">
      <button
        class="flex-grow"
        @click="previousVideo()">
        <svg viewBox="0 0 71.88 51.15" class="h-6 mr-1 ml-3">
          <path class="svg-arrow" d="M25.08,0,0,25.08,25.08,50.15" transform="translate(0.71 0.5)"/>
          <line class="svg-arrow" x1="0.71" y1="25.58" x2="71.38" y2="25.58"/>
        </svg>
      </button>

      <div
        class="flex-grow flex items-center justify-center"
        :style="{color: currentInfo.color}"
        >
        <span>circuito{{currentInfo.number}}</span>
        <icons
          type="marker"
          class="w-4 h-4 mx-1"
          ></icons>
        <span class="uppercase">{{currentInfo.name}}</span>
      </div>

      <button
        class="flex-grow flex justify-end text-white hover:text-current"
        @click="nextVideo()">
        <svg viewBox="0 0 71.4 50.7" class="h-6 ml-1 mr-3">
          <path class="svg-arrow" d="M46.3,50.7l25.1-25.1L46.3,0.5"/>
          <line class="svg-arrow" x1="71.4" y1="25.6" x2="0.7" y2="25.6"/>
        </svg>
      </button>
    </div>

    <circuit-tiles :current="currentCircuit" @change="changeVideoPosition"></circuit-tiles>

    <div
      class="flex w-full tiles-position tiles-height z-20 md:absolute portrait:relative">
      <div
        id="tiles"
        class="flex flex-col h-full overflow-hidden pb-12
              md:mx-auto md:w-11/12 md:pb-0 md:flex-row md:flex-wrap md:mb-screen-h
              portrait:w-full portrait:mb-0">
        <page-tiles page="placas" />
        <page-tiles page="audioguias" />
        <page-tiles page="retratos" />
        <page-tiles page="galerias" />
      </div>
    </div>


    <page-footer class="absolute z-20 h-14 footer-position hidden md:flex portrait:hidden"></page-footer>
  </div>
</template>

<script lang="ts">
import ArrowRight from '../components/images/arrowRight.vue'
import ArrowLeft from '../components/images/arrowLeft.vue'
import { defineComponent } from 'vue'
import { gsap } from 'gsap'
import { ScrollToPlugin } from "gsap/ScrollToPlugin"
import SwipeIt from '../utils/swipe'
import ArrowDown from '../assets/arrowDown.svg?component'
import circuitMarker from '../components/home/circuitMarker.vue'
import circuitTiles from '../components/home/circuitTiles.vue'
import pageTiles from '../components/home/pageTiles.vue'
import icons from '../components/images/icons.vue'
import FullscreenVimeo from '../components/fullscreenVimeo.vue'
import PageFooter from '../components/pageFooter.vue'

export default defineComponent({
  components: {
    ArrowDown,
    ArrowRight,
    ArrowLeft,
    circuitMarker,
    circuitTiles,
    pageTiles,
    icons,
    FullscreenVimeo,
    PageFooter
  },
  data: () => ({
    currentCircuit: '',
    currentVideo: 0,
    arrowTrigger: false,
    swipe: {},
    firstHalf: true,
    paused: false,
    enabled: true,
    side: 'right',
    timeout: null as null | ReturnType<typeof setTimeout>
  }),
  computed: {
    videoPlaying () {
      return this.$store.state.circuits[this.currentCircuit].videos[this.currentVideo]
    },
    currentInfo () {
      return this.currentCircuit ? this.$store.state.circuits[this.currentCircuit] : null
    },
    next () {
      const circuits = Object.keys(this.$store.state.circuits)
      return circuits.indexOf(this.currentCircuit) === circuits.length - 1 ? circuits[0] : circuits[circuits.indexOf(this.currentCircuit) + 1]
    },
    prev () {
      const circuits = Object.keys(this.$store.state.circuits)
      return circuits.indexOf(this.currentCircuit) === 0 ? circuits[circuits.length - 1] : circuits[circuits.indexOf(this.currentCircuit) - 1]
    }
  },
  methods: {
    playVideo () {
      const player = this.$refs.player as HTMLVideoElement
      player.play()
    },
    pauseVideo () {
      const player = this.$refs.player as HTMLVideoElement
      player.pause()
    },
    nextVideo () {
      this.side = 'right'
      if(this.currentVideo < this.$store.state.circuits[this.currentCircuit].videos.length - 1) {
        this.currentVideo += 1
      } else {
        this.changeVideoPosition(this.next)
        this.currentVideo = 0
      }
    },
    previousVideo () {
      this.side = 'left'
      if(this.currentVideo > 0) {
        this.currentVideo -= 1
      } else {
        this.currentVideo = this.$store.state.circuits[this.prev].videos.length - 1
        this.changeVideoPosition(this.prev)
      }
    },
    changeVideoPosition (key: string) {
      this.currentCircuit = key
    },
    showAll () {
      gsap.to(window, {
        duration: 2,
        ease: "power4.out",
        scrollTo: window.innerHeight
      })
    },
    handleScroll () {
      this.firstHalf = window.scrollY < document.body.scrollHeight / 2
      if(window.scrollY < window.screen.height / 3) {
        this.playVideo()
      } else if(window.scrollY > document.body.scrollHeight - window.screen.height && window.matchMedia("(min-width: 768px) and (orientation: landscape)").matches) {
        this.playVideo()
      } else {
        this.pauseVideo()
      }
    },
    disableElements () {
      this.arrowTrigger = true
      this.$store.commit('disableHomeAnimation')
    },
    triggerArrow () {
      if(this.arrowTrigger) {
        if (this.timeout !== null) {
          window.clearTimeout(this.timeout)
        } else {
          gsap.to('.veja-todos', { opacity: 1, duration: 1 })
        }
        this.timeout = window.setTimeout(() => {
          gsap.to('.veja-todos', { opacity: 0, duration: 1 })
          this.timeout = null
        }, 2000);
      }
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll)
    gsap.registerPlugin(ScrollToPlugin)
  },
  beforeMount () {
    const keys = Object.keys(this.$store.state.circuits)
    const randomVid = keys[ keys.length * Math.random() << 0]
    this.changeVideoPosition(randomVid)
  },
  beforeRouteUpdate(to, from, next) {
    this.swipe.off()
    next()
  },
  beforeRouteLeave(to, from, next) {
    this.$store.commit('disableHomeAnimation')
    this.swipe.off()
    next()
  },
  mounted () {
    this.swipe = new SwipeIt('body')
    this.swipe.on('swipeRight', () => {
      this.nextVideo()
    })
    this.swipe.on('swipeLeft', () =>  {
      this.previousVideo()
    })
    gsap.timeline({
      defaults: { duration: 1 },
      onComplete: this.disableElements
    })
    .from("#logo", { opacity: 0 })
    .from(".seta", { opacity: 0, stagger: 0.5 })
    .to("#logo", { opacity: 0, delay: 2 })
    .from('.vire-celular', { opacity: 0 })
    .to('.vire-celular', { opacity: 0, delay: 2})
    .to('.veja-todos', { opacity: 0, delay: 5 }, "-=3")
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  }
})
</script>

<style lang="postcss" scoped>
.video,
.video::v-deep(iframe) {
  @apply w-full h-full;
}

.custom-height-small {
  height: calc(100vh - 6rem)
}

.custom-height {
  height: calc(100vh - 5.5rem)
}

.transition-element {
  transition: all 0.3s ease-in-out;
}

.arrow-tag {
  @apply absolute bottom-0 transform translate-y-full opacity-0;
}

.transition-element:hover .arrow-tag {
  @apply opacity-100;
}

.svg-arrow {
  fill: none;
  stroke: currentColor;
  stroke-width: 1.5;
}

:deep(.st0) {
  fill: none;
  stroke: #FFFFFF;
  stroke-linecap: round;
}

:deep(#Line_6) {
  stroke-dasharray: 150;
}

:deep(.veja-todos:hover #Line_6) {
  animation: dash 1s ease-in-out infinite;
}

@keyframes dash {
  from {
     stroke-dashoffset: 0;
  }

  to {
     stroke-dashoffset: 300;
  }
}

@media (min-width: 768px) {
  .tiles-height {
    height: 65vw;
    position: absolute;
    top: 200vh;
  }

  .bottom-video {
    top: 500vh;
  }

  .footer-position {
    top: calc(600vh - 5.5rem);
  }
}

@media (min-width: 768px) {
  .custom-height-small {
    height: calc(100vh - 7rem)
  }

  .custom-height {
    height: calc(100vh - 6rem)
  }

  .footer-position {
    top: calc(600vh - 6rem);
  }
}
</style>
