<template>
  <div class="flex-grow h-screen flex items-center justify-center overflow-hidden relative">
    <fullscreen-video
        ref="player"
        class="video bg-black object-cover"
        :options="videoOptions"
        vidSrc="video_bg_pre_home">
      </fullscreen-video>
    <div class="absolute">
      <img
        id="logo"
        class="w-32 sm:w-40 md:w-52 opacity-80"
        src="/assets/logo-jornada.svg"
        />
    </div>
    <div
      class="absolute flex flex-col items-center">
      <site-logo
        id="mainLogo"
        src="/assets/logo.svg"
        alt="Circuito Memória Paulistana"
        class="w-40 sm:w-60 lg:w-72 mt-3 mobile-landscape:w-40"
        />
      <div
        id="textWrapper"
        class="h-0 flex flex-col items-center wrapper text-sm sm:text-base md:text-lg lg:text-xl 2xl:text-2xl mobile-landscape:text-sm"
        >
        <div class="italic text-center pt-11 sm:px-12 page2 mobile-landscape:pt-4">
          <p>A cidade é nossa. É por onde passamos, vivemos, nos relacionamos com o mundo e com os outros. Existe, no entanto, uma camada por baixo do que conhecemos e vemos, uma outra cidade, a da memória.</p>
          <p>Venha com a gente conhecer nossos lugares e nossas histórias, seguindo circuitos temáticos por cartografias, filmes, fotografias 360º, audioguias e mais.</p>
        </div>
        <router-link to="/home" class="italic underline text-center pt-4 sm:px-12 page2 mobile-landscape:pt-2">
          Coloque seu fone de ouvido e clique aqui para começar sua jornada!
        </router-link>
        <img
          src="/assets/regua_white.png"
          alt="Régua de logos"
          class="w-full pt-4 sm:pt-16 page2 mobile-landscape:pt-0"
          />
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import { gsap } from 'gsap'

import FullscreenVideo from '../components/fullscreenVideo.vue'
import siteLogo from '../assets/site_logo.svg?component'

export default defineComponent({
  components: {
    FullscreenVideo,
    siteLogo
  },
  data: () => ({
     videoOptions: {
      byline: false,
      controls: false,
      playsinline: true,
      //responsive: true,
      title: false,
      loop: true,
      muted: true
    }
  }),
  mounted () {
    gsap.timeline({
      defaults: { duration: 1 }
    })
    .from("#logo", { opacity: 0 })
    .to("#logo", { opacity: 0, delay: 2 })
    // .from('#mainLogo', { opacity: 0 })
    .from('.pin', { opacity: 0, y: -50, stagger: 0.3, ease: 'power2.out' })
    .from('#rect1', {x: -241.1, duration: 0.5, ease: 'power2.in' })
    .from('#rect2', {x: -241.1, duration: 0.5, ease: 'power2.in' })
    .from('#rect3', {x: -289.6, duration: 0.5, ease: 'power2.in' })
    .to('#textWrapper', {height: 'auto'})
    .from(".page2", { opacity: 0, stagger: 0.8 })
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  }
})
</script>

<style lang="postcss" scoped>
:deep(.st0) {
  fill: #fff;
}

.wrapper {
  width: 575px;
  max-width: 75vw;
  line-height: 1.25em;
}
</style>