<template>
  <div id="home" class="w-full h-full">
    <map-box></map-box>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import mapBox from '../components/mapBox.vue'

export default defineComponent({
  components: {
    mapBox
  },
})
</script>

<style lang="postcss" scoped>
:deep(.mapboxgl-canvas-container) {
  height: 100vh;
}

:deep(canvas) {
  width: 100% !important;
  height: 100% !important;
}
</style>