<template>
  <div class="flex-grow flex flex-col" @click="$store.commit('closePlacasInfo')">
    <header
      :class="['relative px-12 w-full flex flex-col justify-center text-center header-texts',
            'lg:flex-row',
            $store.state.placasInfo ? 'py-2 mobile-landscape:p-0 mobile-landscape:h-0' : 'py-3 xl:py-6']"
            style="background: rgb(118, 112, 178)"
            @transitionend="reloadMap">
      <h1
        class="underline larger
              lg:order-2 lg:w-1/3 lg:my-0 lg:mx-8 mobile-landscape:text-lg">
        {{headerInfo.name}}
      </h1>
      <h2
        :class="['text-info italic header-texts lg:order-3 lg:my-0 lg:w-1/3 lg:text-left',
                $store.state.placasInfo ? 'h-0 p-0 m-0 opacity-0' : 'h-auto mt-6 mobile-landscape:mt-4']"
        v-html="headerInfo.instruction">
      </h2>
      <h2
        :class="['header-texts italic lg:order-1 lg:w-1/3 lg:my-0 lg:text-left',
                $store.state.placasInfo ? 'h-0 p-0 m-0 opacity-0' : 'h-auto my-6 mobile-landscape:my-4']"
          v-html="headerInfo.description">
      </h2>
    </header>

    <audio
      ref="audioPlayer"
      id="audioPlayer"
      class="hidden"
      :muted="$store.state.muted && !$store.state.accessibilityMode"
      autoplay
      loop>
      <source src="/assets/Mapa_Trilha.mp3" type="audio/mpeg">
    </audio>

    <div class="relative flex-grow flex overflow-hidden">
      <map-box ref="map" class="absolute w-full h-full" :shrink="isMobileLandscape"></map-box>
      <button
        v-if="!$store.state.placasInfo"
        class="absolute w-full h-full bg-black bg-opacity-60 shadow-inner lg:hidden z-30"
        @click="$store.commit('closePlacasInfo')">
        <h1 class="underline">navegue</h1>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import mapBox from '../components/mapBox.vue'
import circuitsBar from '../components/circuitsBar.vue'

export default defineComponent({
  components: { mapBox, circuitsBar },
  data () {
    return {
      headerInfo: this.$store.state.pages.placas,
      isMobileLandscape: window.matchMedia('screen and (max-device-width: 900px) and (orientation: landscape)').matches || window.matchMedia('screen and (max-device-width: 400px) and (orientation: portrait)').matches
    }
  },
  methods: {
    reloadMap () {
      this.$refs.map.resize()
    },
    orientationChange () {
      this.isMobileLandscape = window.matchMedia('screen and (max-device-width: 900px) and (orientation: landscape)').matches || window.matchMedia('screen and (max-device-width: 400px) and (orientation: portrait)').matches
      this.reloadMap()

    }
  },
  created () {
    window.addEventListener("orientationchange", this.orientationChange )
  },
  destroyed () {
    window.removeEventListener("orientationchange", this.orientationChange )
  }
})
</script>

<style scoped>
.header-texts {
  transition: all 0.3s ease-in-out;
}
</style>
