<template>
  <div class="flex-grow pb-8">
    <div class="hidden tile-wrapper md:flex">
      <button
        v-for="(personagem, key) in $store.state.retratos"
        :key="key"
        class="relative flex-grow top-tiles overflow-hidden flex items-center justify-center"
        @click="goTo(key)">
        <div class="relative h-full w-full">
          <img
          class="absolute h-full w-full object-cover object-center"
          :src="images[`../../base/assets/${personagem.image}`].default"
          />
        </div>
        <div class="text bg-white h-full text-black flex flex-col items-center justify-center overflow-hidden">
          <div class="text-sm">{{ personagem.name }} </div>
        </div>
      </button>
    </div>

    <header
      class="relative px-12 my-6 w-full flex flex-col justify-center text-center
            md:my-12 md:text-left">
      <h1 class="underline larger text-center">
        {{headerInfo.name}}
      </h1>
      <div
        class="text-info italic mt-6
              md:absolute md:w-1/3 md:right-0 md:top-0 md:mt-0 md:px-8
              lg:px-12 xl:px-16 2xl:px-20 ">
        <h2 v-html="headerInfo.description" class="desc header-texts">
        </h2>
        <h2
          class="text-info mt-6 text-dark-gray header-texts"
          v-html="headerInfo.instruction">
        </h2>
      </div>
    </header>

    <div class="personagens-grid">
      <audio
        :muted="$store.state.muted"
        id="personagemAudio"
        @ended="persist = false">
        <source type="audio/mpeg">
      </audio>
      <personagem-info
        v-for="(personagem, key) in $store.state.retratos"
        :id="key"
        :key="key"
        class="personagem"
        @playPersonagem="playPersonagem(personagem.audio)"
        @pausePersonagem="pausePersonagem(personagem.audio)"
        @persistPersonagem="persistPersonagem"
        @releasePersonagem="releasePersonagem"
        :persist="persist"
        :style="{'gridArea': key}"
        :info="personagem"
        :currentAudio="currentAudio"
        :divKey="key"
        :bg="images[`../../base/assets/${personagem.image}`].default">
      </personagem-info>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { gsap } from 'gsap'
import { ScrollToPlugin } from "gsap/ScrollToPlugin"

import PersonagemInfo from '../components/personagens/personagemInfo.vue'
import CircuitMarker from '../components/home/circuitMarker.vue'

export default defineComponent({
  components: {
    PersonagemInfo,
    CircuitMarker
  },
  data () {
    return {
      headerInfo: this.$store.state.pages.retratos,
      persist: '',
      currentAudio: '',
      images: {},
      audios: {}
    }
  },
  methods: {
    goTo (scrollTarget: string) {
      gsap.to(window, {
        duration: 2,
        ease: "power4.out",
        scrollTo: {y: `#${scrollTarget}`}
      });
    },
    playPersonagem (personagem: string) {
      if(!this.persist) {
        const audioPlayer = document.getElementById('personagemAudio') as HTMLAudioElement
        audioPlayer.src = this.audios[`../../base/assets/${personagem}`].default
        this.currentAudio = personagem
        audioPlayer.currentTime = 0
        audioPlayer.play()
      }
    },
    pausePersonagem (personagem: string) {
      if(!this.persist) {
        const audioPlayer = document.getElementById('personagemAudio') as HTMLAudioElement
        audioPlayer.src = ''
        audioPlayer.pause()
        this.currentAudio = ''
      }
    },
    persistPersonagem (personagem: string) {
      const audioPlayer = document.getElementById('personagemAudio') as HTMLAudioElement
      if(this.currentAudio !== personagem) this.releasePersonagem(personagem)
      if(audioPlayer.paused) this.playPersonagem(personagem)
      this.persist = personagem
    },
    releasePersonagem (personagem: string) {
      this.persist = ''
      this.currentAudio = ''
      this.pausePersonagem(personagem)
    }
  },
  created () {
    gsap.registerPlugin(ScrollToPlugin)
    this.images = import.meta.globEager('../../base/assets/*jpg')
    this.audios = import.meta.globEager('../../base/assets/*mp3')
  }
})
</script>

<style lang="postcss" scoped>

.top-tiles {
  height: calc(100vw / 28);
  min-height: 4rem;
  width: 0;
  transition: all 0.3s ease-in-out;
}

.top-tiles:hover {
  width: 12rem;
}

.text {
  @apply absolute right-0 w-0;

  transition: all 0.3s ease-in-out;
}

.top-tiles:hover .text {
  @apply w-1/2 p-2;
}

/* .top-tiles:hover {
  width: 8rem;
} */

.personagens-grid {
  @apply flex flex-col;
}

.personagem {
  @apply my-8;

  height: 45vh;
}

.personagem:nth-child(2n-1) {
  @apply px-12;

  height: 35vh;
}

:deep(.personagem:nth-child(2n) .info) {
  @apply px-12;
}

@media (min-width: 768px) {
  .personagens-grid {
    @apply grid;

    grid-template:
      "	.	a	a	a	a	a	a	.	.	.	.	.	.	.	.	.	.	"	9fr
      "	.	a	a	a	a	a	a	.	.	.	.	b	b	b	b	b	.	"	15fr
      "	.	.	.	.	.	.	.	.	.	.	.	b	b	b	b	b	.	"	3fr
      "	.	.	.	.	.	c	c	c	c	c	.	b	b	b	b	b	.	"	18fr
      "	.	.	.	.	.	.	.	.	.	.	.	b	b	b	b	b	.	"	4fr
      "	d	d	d	d	d	d	.	.	.	.	.	.	.	.	.	.	.	"	22fr
      "	d	d	d	d	d	d	.	.	e	e	e	e	e	e	.	.	.	"	11fr
      "	.	.	.	.	.	.	.	.	e	e	e	e	e	e	.	.	.	"	10fr
      "	f	f	f	.	.	.	.	.	.	.	.	.	.	.	.	.	.	"	9fr
      "	f	f	f	.	.	.	g	g	g	g	g	g	g	g	g	g	g	"	10fr
      "	.	.	.	.	.	.	g	g	g	g	g	g	g	g	g	g	g	"	7fr
      "	.	.	h	h	.	.	g	g	g	g	g	g	g	g	g	g	g	"	16fr
      "	.	.	h	h	.	.	.	.	.	.	.	.	.	.	.	.	.	"	4fr
      "	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	"	4fr
      "	.	.	.	.	.	.	.	.	.	.	.	i	i	i	i	.	.	"	5fr
      "	.	.	.	j	j	j	j	j	j	.	.	i	i	i	i	.	.	"	21fr
      "	.	.	.	.	.	.	.	.	.	.	.	i	i	i	i	.	.	"	5fr
      "	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	"	6fr
      "	k	k	k	.	.	.	.	.	.	.	.	.	.	.	.	.	.	"	8fr
      "	k	k	k	.	.	.	l	l	l	l	l	l	l	.	.	.	.	"	24fr
      "	k	k	k	.	.	.	.	.	.	.	.	.	.	.	.	.	.	"	7fr
      "	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	"	9fr
      "	.	.	.	.	m	m	m	m	m	m	m	m	.	.	.	.	.	"	24fr
      "	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	"	7fr
      "	.	n	n	n	n	n	n	.	.	.	.	.	.	.	.	.	.	"	24fr
      "	.	n	n	n	n	n	n	.	.	.	.	.	o	o	o	.	.	"	3fr
      "	.	.	.	.	.	.	.	.	.	.	.	.	o	o	o	.	.	"	3fr
      "	.	.	.	.	.	p	p	p	p	p	.	.	o	o	o	.	.	"	18fr
      "	.	.	.	.	.	.	.	.	.	.	.	.	o	o	o	.	.	"	4fr
      "	q	q	q	q	q	q	.	.	.	.	.	.	o	o	o	.	.	"	5fr
      "	q	q	q	q	q	q	.	.	.	.	.	.	.	.	.	.	.	"	18fr
      "	q	q	q	q	q	q	.	.	r	r	r	r	r	r	.	.	.	"	11fr
      "	.	.	.	.	.	.	.	.	r	r	r	r	r	r	.	.	.	"	9fr
      "	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	"	1fr
      "	s	s	s	.	.	.	.	.	.	.	.	.	.	.	.	.	.	"	9fr
      "	s	s	s	.	.	.	t	t	t	t	t	t	t	t	t	t	t	"	10fr
      "	.	.	.	.	.	.	t	t	t	t	t	t	t	t	t	t	t	"	7fr
      "	.	.	u	u	.	.	t	t	t	t	t	t	t	t	t	t	t	"	16fr
      "	.	.	u	u	.	.	.	.	.	.	.	.	.	.	.	.	.	"	5fr
      "	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	"	4fr
      "	.	.	.	.	.	.	.	.	.	.	.	v	v	v	v	.	.	"	4fr
      "	.	.	.	.	.	w	w	w	.	.	.	v	v	v	v	.	.	"	21fr
      "	.	.	.	.	.	.	.	.	.	.	.	v	v	v	v	.	.	"	7fr
      "	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	"	7fr
      "	x	x	x	.	.	.	.	.	.	.	.	.	.	.	.	.	.	"	8fr
      "	x	x	x	.	.	.	y	y	y	y	y	y	y	.	.	.	.	"	24fr
      "	x	x	x	.	.	.	.	.	.	.	.	.	.	.	.	.	.	"	9fr
      "	. . .	.	.	.	.	.	.	.	.	.	.	.	.	.	.	"	10fr
      /	5fr	5fr	4fr	4fr	2fr	4fr	4fr	3fr	4fr	2fr	2fr	2fr	5fr	4fr	2fr	1fr	2fr;
  }

  .personagem {
    @apply p-0 pt-2 pr-4 m-0;

    height: auto;
    min-height: 15rem;
  }

  .personagem:nth-child(2n-1),
  :deep(.personagem:nth-child(2n) .info) {
    @apply p-0 pt-2 pr-4 m-0;

    height: auto;
  }
}

@media (min-width: 1024px) {
  .personagem {
    min-height: 22rem;
  }
}
</style>
