<template>
  <div class="flex-grow flex flex-col">
    <h1 class="underline larger text-center my-8">
      {{ $store.state.pages.sobre.name }}
    </h1>
    <aside
      class="
        h-full
        flex flex-col
        italic
        text-center text-2xl
        mx-4
        md:px-24
        xl:px-72
      "
    >
      <span
        class="
          leading-6
          font-normal
          text-lg
          md:px-16
          lg:px-24
          xl:mt-10
          xl:text-4xl
          2xl:px-24
          2xl:pb-5
        "
      >
        {{ $store.state.pages.sobre.slug }}
      </span>
      <div
        class="
          desc
          leading-5
          text-base
          mx-2
          md:mx-24
          lg:mx-10
          2xl:px-8
          2xl:mx-12
          2xl:text-lg
        "
        v-html="$store.state.pages.sobre.description"
      ></div>
    </aside>
    <div class="text-center text-base mx-4 mb-6 md:text-lg">
      <div class="space-y-4 text-center">
        <p class="subtitle md:mt-12 ">
          UMA REALIZAÇÃO
        </p>
        <p style="margin-top: 0">Secretária Municipal de Cultura - Prefeitura de São Paulo</p>
        <div class="space-x-2">
          <p class="graytext">Produção</p>
          <p class="whitetext">Estúdio CRUA</p>
          <br />
          <p class="graytext">Direção geral</p>
          <p class="whitetext">Marcia Mansur &amp; Marina Thomé</p>
          <br />
          <p class="graytext">direção de criação</p>
          <p class="whitetext">Marina Thomé</p>
          <br />
          <p class="graytext">produção executiva</p>
          <p class="whitetext">Marcia Mansur</p>
          <br />
          <p class="graytext">assistente de produção executiva</p>
          <p class="whitetext">Paloma Espíndola</p>
          <br />
          <p class="graytext">assessoria jurídica</p>
          <p class="whitetext">Pougy, Tupinambá Advogados - Flavio Pougy</p>
          <br />
        </div>
      </div>
      <div
        class="
          grid grid-cols-1
          text-center
          md:flex-row
          md:pt-10
          md:px-24
          lg:px-44
          xl:mx-44
          xl:px-44
        "
      >
        <div v-for="(info, index) in infos" :key="index">
          <div v-for="(p, pindex) in info['items']" :key="pindex">
            <p class="subtitle">{{ p["subtitle"] }}</p>
            <p class="graytext">{{ p["graytext"] }}</p>
            <p
              v-for="(wt, windex) in p['whitetext']"
              :key="'wt' + windex"
              class="whitetext"
            >
              {{ wt }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="
          italic
          text-dark-gray
          leading-5
          text-base
          px-2
          pt-10
          pb-20
          lg:px-40
          md:mx-24
          xl:px-64
          xl:text-lg
        "
      >
        <p>
          Todos os esforços foram feitos para localizar a origem e a propriedade
          de todo o material e todas as pessoas inseridas neste documentário. <br /> 
          A produtora lamenta erros ou omissões que possam ter ocorrido na
          liberação desses direitos já que o intuito foi o de obter todas as
          liberações corretamente.
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
//import { ScrollToPlugin } from "gsap/ScrollToPlugin";

export default defineComponent({
  data: () => ({
    infos: [
      {
        name: "AUDIOVISUAL",
        items: [
          {
            subtitle: "audiovisual",
            graytext: "coordenação de produção",
            whitetext: ["Gabriela Pascal"],
          },
          {
            graytext: "Assistente de produção",
            whitetext: ["Iolanda Depizzol"],
          },
          {
            graytext: "Assistentes de direção (filmagens)",
            whitetext: ["Daniela Gonçalves", "Iolanda Depizzol", "João Rocha"],
          },
          {
            graytext: "Som direto",
            whitetext: ["Caio Alarcon", "Victor Jaramillo"],
          },
          {
            graytext: "fotografia",
            whitetext: [
              "Arthur R Roessle",
              "Caio Gentil Carvalho",
              "Michel Igielka",
            ],
          },
          {
            graytext: "fotografia adicional",
            whitetext: ["Felipe Barbosa", "Pedro Belo"],
          },
          {
            graytext: "Som direto adicional",
            whitetext: ["Felipe Barbosa"],
          },
          {
            graytext: "motoristas",
            whitetext: ["Gilmar Silva", "Márcio Silva"],
          },
          {
            graytext: "imagens drone",
            whitetext: ["Michel Igielka"],
          },
          {
            graytext: "seguranças",
            whitetext: ["Rodrigo Melo", "Valdir Mujica Fernandes"],
          },
          {
            graytext: "fotografia 360",
            whitetext: ["Camila Marques | Vila 360"],
          },
          {
            graytext: "edição",
            whitetext: ["Daniela Gonçalves"],
          },
          {
            graytext: "edição adicional",
            whitetext: ["Cecília Engels"],
          },
          {
            graytext: "assistentes de edição",
            whitetext: ["Guilherme Leandro", "Michel Igielka"],
          },
          {
            graytext: "tratamento de cor",
            whitetext: ["Humberto Mundim"],
          },
          {
            graytext: "tratamento de imagens",
            whitetext: ["Amanda Giglio"],
          },
          {
            graytext: "edição de som",
            whitetext: ["Victor Jaramillo"],
          },
          {
            subtitle: "plataforma",
            graytext: "identidade visual e webdesign",
            whitetext: ["Juliana Azevedo"],
          },
          {
            graytext: "programação web",
            whitetext: ["Grão Filmes"],
          },
          {
            graytext: "textos",
            whitetext: ["Camila Kintzel"],
          },
        ],
      },
      {
        name: "PESQUISA",
        items: [
          {
            subtitle: "pesquisa",
            graytext: "pesquisa",
            whitetext: ["Juliana Koch", "Naiara Magalhães", "Paula Desgualdo"],
          },
          {
            graytext: "imagem",
            whitetext: ["Julia Franceschini"],
          },
          {
            graytext: "Assessoria de conteúdo por circuito",
            whitetext: [
              "Anderson Félix de Sá",
              "Deborah Neves",
              "Elizabeth Ferreira Azevedo",
              "Inimá Simões",
              "José Abilio Ferreira",
              "José Inácio de Melo Souza",
              "José Lira",
              "José Paulo Florenzano",
              "Leonardo Vieira",
              "Luma Prado",
              "Tadeu Kaçula",
            ],
          },
          {
            graytext: "Curadoria Circuitos Temáticos",
            whitetext: ["Adriana Terra"],
          },
          {
            subtitle: "audioguias",
            graytext: "Produção",
            whitetext: ["Trovão Mídia"],
          },
          {
            graytext: "Edição",
            whitetext: ["José Orenstein"],
          },
          {
            graytext: "Produção Executiva ",
            whitetext: ["Ana Bonomi"],
          },
          {
            graytext: "Roteiro",
            whitetext: ["Arthur Chacon"],
          },
          /* {
            graytext: "Coordenação Editorial",
            whitetext: ["Marcia Mansur"],
          }, */
          {
            graytext: "Argumento",
            whitetext: ["Juliana Koch", "Naiara Magalhães", "Paula Desgualdo"],
          },
          {
            graytext: "Locução",
            whitetext: ["Marina de Medeiros Albuquerque"],
          },
          {
            graytext: "Edição e Mixagem",
            whitetext: ["João Victor dos Santos (Phonocórtex)"],
          },
        ],
      },
      {
        name: "ENTREVISTADOS",
        items: [
          {
            subtitle: "entrevistados",
            whitetext: [
              "Aílton Pedro da Silva",
              "Aira Fernandes Bonfim",
              "Alessandra Santos de Oliveira",
              "Alexandro Nascimento Genaro",
              "Aline Cristina Brito da Costa",
              "Álvaro Machado",
              "Anderson Félix de Sá",
              "Anna Clara Souza da Rocha",
              "Aumerindo Rosendo Brigido",
              "Bruno Alves da Rocha Filho",
              "Bruno Carvalho",
              "Carlão do Peruche",
              "Carlos Eduardo Horta Warchavchik",
              "Carmen Lúcia Genaro",
              "Deborah Neves",
              "Edson R. de Sena",
              "Elizete Cristina da Silva Alves",
              "Francisco Ingegnere",
              "Inimá Ferreira Simões",
              "Jamal Brito Santos",
              "Jamario Brito Santos ",
              "Jerá Guarani",
              "José Abílio Ferreira",
              "José Possi Neto",
              "Juvenal Cassiano dos Santos",
              "Louise Lenate",
              "Ludmila Marcondes Pimentel",
              "Mari Marinho",
              "Maria Luíza Augusto Martins",
              "Otacílio Ribeiro Filho",
              "Paula de Yansã",
              "Paula Nishida Barbosa",
              "Rosemari de Almeida",
              "Rosemeire Marcondes de Moraes",
              "Ruth Bessa Santana Gasparetto",
              "Sônia Ara Mirim",
            ],
          },
        ],
      },
      {
        name: "AGRADECIMENTOS",
        items: [
          {
            subtitle: "agradecimentos",
            whitetext: [
              "Aldeia Tekoa Ytu",
              "Aldeia Tenondé-Porã",
              "Casa da Madre Assunta",
              "Cemitério dos Aflitos",
              "Cemitério Quarta Parada",
              "Cine Gazeta",
              "Cine Marabá",
              "Cine Petra Belas Artes",
              "Complexo Esportivo Campo de Marte",
              "Emef Dom Duarte",
              "Escola de Samba Lavapés",
              "Edifício Rio Branco",
              "Estação da Luz",
              "Guinga’s Bar",
              "Hospital Dom Alvarenga",
              "Hospital Geriátrico Dom Pedro II",
              "Hospital Psiquiátrico Philippe Pinel",
              "Instituto Adolfo Lutz",
              "Instituto Butantan",
              "Instituto de Cegos Padre Chico",
              "Instituto Pasteur",
              "Instituto Vacinogênico",
              "Memorial da Resistência",
              "Museu da Cidade – Sítio Morrinhos",
              "Museu da Santa Casa de São Paulo",
              "Museu de Arte de São Paulo - Masp",
              "Palácio das Princesas",
              "Pequeno Ato",
              "Pinacoteca do Estado de São Paulo",
              "Sala São Paulo",
              "Santa Casa de Misericórdia de São Paulo",
              "Satyrianas",
              "Teatro Brasileiro de Comédia",
              "Teatro de Arena",
              "Teatro Ruth Escobar",
              "Terreiro Axé Ilê Obá",
              "Theatro Municipal de São Paulo",
            ],
          },
        ],
      },

      {
        name: "IMAGENS DE ARQUIVO",
        items: [
          {
            subtitle: "IMAGENS DE ARQUIVO",
            whitetext: [
              "Acervo Instituto Butantã/ Centro de Memória",
              "Acervo Arquivo Público de São Paulo",
              "Acervo Ruth Escobar/Biografia “Metade é verdade”, ed. Sesc",
              "Acervo Instituto Augusto Boal",
              "Acervo Conpresp/ DPH-SP",
              "Acervo Terreiro Axé Ile Oba",
              "Acervo do Museu de Arte de São Paulo Assis Chateaubriand",
              "Acervo Fotográfico do Museu da Cidade de São Paulo",
              "Acervo Curt Nimuendaju- Celin Museu Nacional",
              "Acervo Departamento do Patrimonio Historico / SMC-SP",
              "Arquivo Edgard Leuenroth (AEL - UNICAMP)",
              "Arquivo Historico Municipal de Sao Paulo",
              "Arquivo IBGE",
              "Coleção Gregori Warchavchik / Aquino, Paulo Mauro Mayer de (org.). Gregori Warchavchik -     Acervo Fotográfico vol.- I e vol.-II, São Paulo, edição Família Warchavchik, 2005",
              "Flávia de Paula Santos",
              "Fundação Biblioteca Nacional",
              "Francisco Adrião Neves da Silva/ Acervo Casp - DPH",
              "Grupo de Ação Lésbico-Feminista – GALF",
              "Museu do Futebol/ Coleçao G.R. Martinica / Direitos reservados",
              "Museu do Futebol/ Coleçao Santa Marina F.C. / Direitos reservados",
              "Vincenzo Pastore / Acervo Instituto Moreira Salles",
              "São Paulo, A Sinfonia da Metrópole (1929) / Adalberto Kemeny & Rudolf REx Lustig / Acervo Cinemateca Brasileira",
            ],
          },
        ],
      },
    ],
  }),
});
</script>

<style lang="postcss" scoped>
.desc:deep(p) {
  @apply pt-6;
}

.subtitle {
  @apply pt-3 pb-2 uppercase underline not-italic text-dark-gray font-extrabold text-base md:p-3;
}

.graytext {
  @apply uppercase leading-4 text-dark-gray;
}

.whitetext {
  @apply leading-5 space-x-1 text-sm md:text-base lg:mx-24;
}
</style>
