<template>
  <div class="relative flex-grow flex items-center justify-center">
    <div id="topo" class="flex-grow relative w-full h-full">
      <teleport to="#video">
        <iframe
          class="ratio"
          :src="`https://player.vimeo.com/video/591280244?controls=0&amp;background=1&amp;loop=false&amp;autoplay=true&amp;byline=0&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media`"
          allowfullscreen
          allowtransparency
          autoplay
          allow="autoplay"
        ></iframe>
      </teleport>
      <button
        class="absolute top-0 w-full h-full flex flex-col items-center justify-center opacity-0 currentInfo fade-in"
        @click="toggleVideo()">
        <icons type="play" class="w-8 h-8"></icons>
        <span class="uppercase italic underline pt-4 text-3xl">assistir</span>
      </button>
    </div>
    <div id="video" class="flex-grow w-full h-full"></div>

  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  methods: {
    toggleVideo() {
      this.$store.commit('openVideo', '591280514')
    }
  }
})
</script>
<style lang="postcss" scoped>
.ratio {
  width: 80vw;
  height: 45vw;
}
</style>
