<template>
  <router-link
    :to="src ? `/circuitos/${src}` : ''"
    :class="['flex', !small ? 'items-center' : 'items-start']">

    <span class="whitespace-nowrap flex items-center" :style="{color: currentColor}">
      <h2 v-if="!shrink" class="mr-2">circuito {{infos.number}}</h2>
      <icon type="marker"
        :class="[
          small ? 'w-3 h-3 mt-1' :
          large ? 'w-4 h-4 lg:w-7 lg:h-7' :
          'w-3 h-3 lg:w-4 lg:h-5']"></icon>
    </span>

    <h1 :class="{
        'ml-2 mb-0':true,
        'text-xs lg:text-sm 2xl:text-base;': small,
        'text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl': large,
        'not-italic no-underline': !underline}"
        :style="{color: currentColor}">
      <b :class="{'font-light': true ,'underline italic': underline}">{{infos.name}}</b>
    </h1>

  </router-link>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { Circuits } from '../../types/types'

import Icon from '../images/icons.vue'

export default defineComponent({
  components: {
    Icon
  },
  props: {
    infos: {
      type: Object as PropType<Circuits>,
      required: true
    },
    src: String,
    altColor: String,
    small: Boolean,
    large: Boolean,
    shrink: Boolean,
    underline: Boolean
  },
  computed: {
    currentColor (): string {
      return this.altColor ? this.altColor : this.infos.color;
    }
  }
})
</script>

<style scoped>

</style>
