<template>
  <div
    id="circuitos"
    class="w-full flex z-0 flex-col flex-wrap
          md:fixed md:top-0 md:pt-9 xl:pt-12 md:h-full md:flex md:flex-row md:overflow-hidden">
    <template v-for="(circuito, key) in $store.state.circuits" :key="key">
      <router-link
        v-if="key !== current"
        class="relative block w-full bg-gray-300 circuito overflow-hidden
              md:w-1/3 md:h-auto"
        :to="`/circuitos/${key}`">
        <img
          :src="`/assets/${circuito.gridImg}.jpg`"
          class="object-cover object-center w-full h-full"
          />

        <button
          class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center shadow-inner-top button-circuito">
          <div class="flex-grow flex items-end mb-2 icon-wrapper">
            <icons type="marker" class="w-4 h-4 md:w-6 md:h-6" :style="{color: circuito.color}"></icons>
          </div>
          <div class="flex-grow inline-flex flex-col justify-start">
            <h2>circuito {{circuito.number}}</h2>
            <h1 class="not-italic mb-0">{{circuito.name}}</h1>
          </div>
        </button>
      </router-link>
    </template>
    <div
      class="hidden relative h-12 w-full bg-black items-center px-8
            md:flex items-center">
      <transition-group
        name="fade-delayed">
        <circuit-marker
          :key="current"
          :infos="$store.state.circuits[current]"
          :src="current">
        </circuit-marker>
      </transition-group>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Icons from '../images/icons.vue'
import circuitMarker from './circuitMarker.vue'

import gif1 from '../../assets/gif01.gif'
import gif2 from '../../assets/gif02.gif'

export default defineComponent({
  components: {
    circuitMarker,
    Icons
  },
  props: {
    current: {
      type: String,
      required: true
    }
  },
  emits: ['change'],
  data: () => ({
    gifs: [gif1, gif2]
  })
})
</script>

<style lang="postcss" scoped>
.circuito {
  height: 25vh;
}

.button-circuito,
.button-circuito h1,
.button-circuito h2,
.button-circuito .icon-wrapper {
  transition: all 0.2s ease-in-out;
}

.button-circuito {
  background: rgba(0,0,0,0.25);
}


.button-circuito:hover {
  animation: blinker 0.2s;
  animation-iteration-count: 1;
}

.button-circuito:hover .icon-wrapper {
  @apply mb-6;
}

.button-circuito:hover h1 {
  font-size: 2em;
  margin-top: 0.5rem;
}

.button-circuito:hover h2 {
  font-size: 1.5em;
  background: none;
  margin-top: -1rem;
}

@keyframes blinker {
  50% {
    background: rgba(255,255,255,0.25);
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .circuito {
    height: calc(33.333334% - 1rem)
  }
}
.leading-big {
  line-height: 3rem;
}
</style>