<template>
  <router-link
    :to="`/${page}`"
    class="relative w-3/4 mx-auto mt-12 flex flex-wrap bg-black tile
          md:w-1/2 md:h-1/2 md:m-0 md:border-black">
    <div class="tile-title w-full text-black pb-2 md:h-20 header-div md:flex items-end">
      <div class="flex flex-col md:flex-row h-15">
        <h1 class="mb-0 md:w-2/3 md:text-small lg:text-xl xl:text-3xl 2xl:text-4xl pl-3 mobile-landscape:text-base">
            {{ currentTile.name }}
        </h1>
        <small class="slug px-2 pt-1 mobile-landscape:text-sm">
          <span>{{ currentTile.slug }}</span>
        </small>
      </div>
    </div>
    <div class="w-full h-72 md:h-full overflow-hidden">
      <img
        class="tile-img object-cover object-center h-full w-full"
        :src="`/assets/${currentTile.image}.jpg`"
      />
    </div>
  </router-link>

</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    page: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      currentTile: this.$store.state.pages[this.page]
    }
  }
})
</script>

<style lang="postcss" scoped>
.slug {
  line-height: 110%;
}

.tile-img,
.tile-title {
  transition: all 0.3s ease-in-out;
}

.tile-title {
  @apply bg-white;
}

.tile:hover .tile-img {
  transform: scale(1.3);
}

.tile:hover .tile-title {
  @apply bg-light-blue;
}

@media (min-width: 1024px) {
  .header-div {
    border-top:    1px solid #000;
    border-right:  1px solid #000; 
    border-bottom: 1px solid #000;
  }
}
</style>
