<template>
  <header
    class="w-full flex flex-wrap justify-around bg-white xl:px-12">
    <router-link
      v-for="(circuito, destination) in $store.state.circuits"
      :key="circuito.number"
      :to="`/${section}/${destination}`"
      class="flex items-center selector p-1 text-2xs xl:text-sm 2xl:text-lg"
      :style="{color: circuito.color}">
      <icons
        type="marker"
        :class="{'w-2 h-2 lg:w-3 lg:h-3 xl:w-4 xl:h-4': true, 'blink': destination === $route.params.tour}"
        ></icons>
      <span class="ml-1 uppercase italic">{{ circuito.name }}</span>
    </router-link>
  </header>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import icons from './images/icons.vue'

export default defineComponent({
  components: { icons },
  props: {
    section: {
      type: String,
      required: true
    }
  }
})
</script>

<style scoped>
.selector span {
  color: black
}

.selector:hover span {
  color: inherit
}

.blink {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
</style>