<template>
  <div
    v-show="!isHiding"
    class="absolute w-full bottom-0 p-4 text-rbase z-50"
    ref="barWrapper">
    <div class="control-bar rounded-md">
      <button
        class="hover:text-red-500 ml-2 mr-4"
        @click="$emit('update:paused', !paused)"
        >
        <i v-if="!paused" class="gg-play-pause"></i>
        <i v-else class="gg-play"></i>
      </button>
      <div
        ref="dragBar"
        class="relative flex items-center flex-grow h-1 bg-white rounded-full cursor-pointer"
        @mousedown="activateProgressBar"
        >
        <div class="absolute h-1 bg-red-500 rounded-full shadow-inner flex items-center" :style="'width: ' + barSize + '%'">
          <div class="bullet right-0 z-20 bg-red-500">
            <eTooltip :active="dragging">
              {{ newTime }}
            </eTooltip>
          </div>
        </div>
        <div class="w-full" v-if="controlOptions && controlOptions.chapters">
          <div
            v-for="(chapter, key) in controlOptions.chapters"
            @mouseenter="hoverChapter = key"
            @mouseleave="hoverChapter = -1"
            @click="triggerEvents(chapter.actions)"
            :key="key"
            :style="{left: (chapter.time * 100 / duration) + '%', transform: 'translateY(-50%)'}"
            :class="['chapter z-10',
                    chapter.time <= currentTime ? 'bg-red-500 border-red-500' : 'bg-white border-white']">
            <eTooltip
              v-if="chapter.tooltip"
              :active="hoverChapter === key">
              {{ chapter.tooltip }}
            </eTooltip>
          </div>
        </div>
        <button class="mx-2 select-none text-xs w-10" @click="displayRemainingTime = !displayRemainingTime">
          <span v-if="displayRemainingTime">{{ remainingTime }}</span>
          <span v-else>{{ elapsedTime }}</span>
        </button>
        <button
          class="hover:text-red-500 w-5 h-5 mr-2"
          @click="$emit('toggleFullscreen')"
          >
          <div class="w-full h-full flex flex-wrap" v-if="isFullscreen">
            <svg style="width: 100%; height: 100%" viewBox="0 0 24 24">
              <path fill="currentColor" d="M14,14H19V16H16V19H14V14M5,14H10V19H8V16H5V14M8,5H10V10H5V8H8V5M19,8V10H14V5H16V8H19Z" />
            </svg>
          </div>
          <div class="w-full h-full flex flex-wrap" v-else>
            <svg style="width: 100%; height: 100%" viewBox="0 0 24 24">
                <path fill="currentColor" d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import eTooltip from './controls/eTooltip.vue'

import { FsDocument } from '../types/types'

export default defineComponent({
  name: 'controls',
  components: {
    eTooltip
  },
  props: {
    'paused': {
      type: Boolean,
      default: true,
      required: true
    },
    'currentTime': {
      type: Number,
      default: 0,
      required: true
    },
    'duration': {
      type: Number,
      default: 0,
      required: true
    },
    'autohide': Boolean,
  },
  emits: [
    'togglePlay',
    'toggleButton',
    'toggleFullscreen',
    'update:paused',
    'updateTime'
  ],
  data:()=>({
    dragging: false,
    barSize: 0,
    draggingTime: 0,
    isHiding: false,
    volumeBar: false,
    timeout: 0,
    displayRemainingTime: false,
    hoverChapter: -1
  }),
  computed: {
    elapsedTime(): string {
      return this.timeToSeconds(this.currentTime)
    },
    remainingTime(): string {
      return '-' + this.timeToSeconds(Math.abs(this.currentTime - this.duration))
    },
    newTime(): string {
      return this.timeToSeconds(this.draggingTime)
    },
    isFullscreen(): boolean {
      const fsDoc = document as FsDocument
      return !!(fsDoc.fullscreenElement || fsDoc.mozFullScreenElement || fsDoc.webkitFullscreenElement || fsDoc.msFullscreenElement)
    }
  },
  methods: {
    timeToSeconds (time: number): string {
      const seconds = Math.floor(time % 60)
      const minutes = Math.floor(time / 60 % 60)
      return `${minutes >= 0 ? minutes : 0}:${seconds >= 10 ? seconds : seconds >= 0 ? '0' + seconds : '00'}`
    },

    mouseMove (event: MouseEvent): void {
      this.isHiding = false
      this.hideBar
      this.dragProgressBar(event)
    },
    activateProgressBar (event: MouseEvent): void {
      this.dragging = true
      this.changePlayTime (event)
    },
    dragProgressBar (event: MouseEvent): void {
      if(this.dragging) {
        this.changePlayTime (event)
      }
    },
    changePlayTime (event: MouseEvent): void {
      const dragBar = this.$refs.dragBar as HTMLDivElement
      const newSize = (event.clientX - dragBar.getBoundingClientRect().left) * 100 / dragBar.clientWidth
      this.barSize = newSize < 0 ? 0 : newSize > 100 ? 100 : newSize
      this.draggingTime = this.barSize / 100 * this.duration
    },
    releaseProgressBar () {
      if (this.dragging) {
        this.dragging = false
        this.$emit('updateTime', this.draggingTime)
      }
    },
    hideBar () {
      if (this.autohide) {
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => { this.isHiding = true }, 500)
      }
    },

    resizeBar() {
      this.barSize = this.currentTime / this.duration * 100
    },

    // watchChapters () {
    //   if (this.controlOptions && this.controlOptions.chapters) {
    //     this.controlOptions.chapters.forEach(element => {
    //       if (element.time <= this.currentTime && element.time + 0.015 > this.currentTime && element.triggers) {
    //         this.triggerEvents(element.triggers)
    //       }
    //     })
    //   }
    // },
    // triggerEvents (actions: actionInterface[]) {
    //   actions.forEach(element => {
    //     this.$emit(element.name, element.value)
    //   })
    // }
  },
  watch: {
    currentTime () {
      this.resizeBar()
      //this.watchChapters()
    },
  },
  mounted () {
    window.addEventListener('mousemove', this.mouseMove)
    window.addEventListener('mouseup', this.releaseProgressBar)
    this.hideBar()
  },
  unmounted () {
    window.removeEventListener('mousemove', this.mouseMove);
    window.removeEventListener('mouseup', this.releaseProgressBar);
  }

})
</script>

<style lang="postcss" scoped>
.control-bar {
  @apply relative flex items-center bg-gray-600 text-white p-1 transition duration-500 ease-in-out z-50 w-full;
}

.bullet {
  @apply absolute w-3 h-3 ring-2 ring-red-500 rounded-full shadow cursor-pointer;

  transform: translateX(50%);
}


.chapter {
  @apply bullet;
  @apply ring-0;

  transform: translateX(-50%);
}

.gg-play-pause {
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 8px;
    height: 10px;
    border-left: 3px solid;
    border-right: 3px solid
}

.gg-play {
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 8px;
    height: 22px
}
.gg-play::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid;
    top: 6px;
}
</style>