<template>
  <button
    class="close-btn absolute top-5 right-5 w-10 h-10
          rounded-full p-2 hover:bg-dark-gray hover:bg-opacity-50"
    @click="$emit('makeFullscreen', src)">
    <icons type="fullscreen"></icons>
  </button>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Icons from './images/icons.vue'

export default defineComponent({
  emits: ['makeFullscreen'],
  components: {
    Icons
  },
  props: {
    src: {
      type: String,
      required: true
    }
  }
})
</script>

<style lang="postcss" scoped>
.close-btn {
  transition: all 0.3s ease-in-out
}
</style>
