<template>
  <div
    ref="wrapper"
    class="w-full h-full absolute">
    <div
    class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 flex"
    :style="{width: currentWidth, height: currentHeight}">
      <video
        :class="['flex-grow', videoReady ? 'opacity-100' : 'opacity-0']"
        autoplay muted loop playsinline
        @canplay="videoReady = true">
        <source :src="videos[`../../base/assets/${vidSrc}.mp4`].default" type="video/mp4">
        Your browser does not support HTML video.
      </video>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    vidSrc: {
      type: String,
      required: true
    },
    options: {
      type: Object,
      required: true
    }
  },
  emits: ['ready', 'canplay', 'ended'],
  data: () => ({
    currentWidth: '100%',
    currentHeight: '100%',
    videos: {},
    videoReady: false
  }),
  methods: {
    play() {
      const player = this.$refs.player as HTMLVideoElement
      player.play()
    },
    pause() {
      const player = this.$refs.player as HTMLVideoElement
      player.pause()
    },
    calcWidth () {
      const wrapper = this.$refs.wrapper as HTMLDivElement

      if(wrapper.clientHeight * 16 > wrapper.clientWidth * 9) {
        this.currentWidth = (wrapper.clientHeight * 16 / 9) + 'px'
        this.currentHeight = wrapper.clientHeight + 'px'
      } else {
        this.currentHeight = (wrapper.clientWidth * 9 / 16) + 'px'
        this.currentWidth = wrapper.clientWidth + 'px'
      }
    }
  },
  mounted () {
    this.calcWidth()
  },
  created() {
    window.addEventListener("resize", this.calcWidth);
    this.videos = import.meta.globEager('../../base/assets/*mp4')
  },
  destroyed() {
    window.removeEventListener("resize", this.calcWidth);
  }
})
</script>

<style class="postcss" scoped>
video {
  transition: all 0.3s ease-in-out;
}

.video {
  @apply w-full h-full;
}
</style>
