<template>
  <div
    :ref="`wrapper-${currentKey}`"
    class="flex-grow relative w-full flex">
    <div
    class="absolute w-full h-full flex"
    :style="calcStyle"
    >

      <div class="plyr plyr__video-embed" :id="`player-${id}`"
      aria-label = "Dica de acessibilidade: utilize o botão não-rotulado abaixo para reproduzir/pausar o vídeo. Se precisar, foque seu leitor de telas na página e utilize as setas para controlar a posição e o volume do reprodutor"
      >
        <iframe
          :src="`https://player.vimeo.com/video/${vidId}?controls=0&amp;background=1&amp;loop=false&amp;byline=0&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media`"
          allowfullscreen="true"
          allowtransparency
          :autoplay="autoplay">
        </iframe>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Plyr from 'plyr'
import icons from '../assets/plyr-sprite.svg'

export default defineComponent({
  props: {
    videoKey: {
      type: Number
    },
    vidId: {
      type: String,
      required: true
    },
    options: {
      type: Object,
      required: true
    },
    calcSize: {
      type: Boolean,
      default: true
    },
    autoplay: {
      type: Boolean,
      default: true
    }
  },
  emits: ['ready', 'canplay', 'ended', 'pause', 'playing', 'buffering', 'exitfullscreen'],
  data: () => ({
    player: {},
    fullscreen: false,
    paused: false,
    currentWidth: '100%',
    currentHeight: '100%',
    id: Math.ceil(Math.random()*1000)
  }),
  computed: {
    calcStyle () {
      if (this.calcSize) {
        return {'width': this.currentWidth, 'height': this.currentHeight}
      } else {
        return {}
      }
    },
    currentKey () {
      return this.videoKey ? this.videoKey : 0
    }
  },
  methods: {
    play() {
      this.paused = false
      this.player.play()
    },
    pause() {
      this.paused = true
      this.player.pause()
    },
    calcWidth () {
      const wrapper = this.$refs[`wrapper-${this.currentKey}`] as HTMLDivElement
      const plyrControls = document.getElementsByClassName('plyr__controls')[this.currentKey] as HTMLDivElement
      let bottom = 0 + 'px'

      if(wrapper.clientHeight * 16 > wrapper.clientWidth * 9) {
        this.currentWidth = (wrapper.clientHeight * 16 / 9) + 'px'
        this.currentHeight = wrapper.clientHeight + 'px'
      } else {
        this.currentHeight = (wrapper.clientWidth * 9 / 16) + 'px'
        bottom = (wrapper.clientWidth * 9 / 16 - wrapper.clientHeight) + 'px'
        this.currentWidth = wrapper.clientWidth + 'px'
      }

      plyrControls.setAttribute('aria-hidden', 'true')
      plyrControls.style.maxWidth = this.fullscreen ? '100vw' : wrapper.clientWidth + 'px'
      plyrControls.style.bottom = this.fullscreen ? '0' : bottom
    },
    enterFullscreen () {
      this.fullscreen = true
      this.calcWidth()
    },
    exitFullscreen () {
      this.fullscreen = false
      this.$emit('exitfullscreen', this.videoKey)
      this.calcWidth()
    }
  },
  watch: {
    '$store.state.muted' (newValue, oldValue) {
      this.player.volume = newValue ? 0 : 1
    },
    vidId (newValue, oldValue) {
      if (this.player) {
        this.player.source = {
          'type': 'video',
          'sources': [
            {
              'src': newValue,
              'provider': 'vimeo',
            },
          ],
        }
      }
    }
  },
  created () {
    this.id = Math.ceil(Math.random()*1000)
    window.addEventListener("resize", this.calcWidth)
  },
  mounted () {
    const p = document.getElementById('player-' + this.id)
    const autoplay = !this.$store.state.accessibilityMode && this.autoplay
    this.player = new Plyr(p, {
      storage: {enabled: false},
      'muted': this.$store.state.muted,
      'autoplay': autoplay,
      iconUrl: icons,
      'background': 1,
      'controls': ['play', 'progress', 'current-time', 'mute', 'fullscreen'],
      fullscreen: {
        enabled: true,
        fallback: true,
        iosNative: true,
        container: null
      }
    })
    this.player.on('enterfullscreen', () => this.enterFullscreen())
    this.player.on('exitfullscreen', () => this.exitFullscreen())
    this.player.on('ready', this.calcWidth)
    this.player.on('pause', () => this.$emit('pause'))
    this.player.on('ended', () => this.$emit('ended'))
    this.player.on('playing', () => this.$emit('playing'))
    this.player.on('seeking', () => this.$emit('buffering'))
  },
  destroyed() {
    window.removeEventListener("resize", this.calcWidth);
  },
})
</script>

<style class="postcss" scoped>
.video::v-deep(iframe) {
  @apply w-full h-full;
}

:deep(.plyr) {
  @apply flex-grow;
  --plyr-color-main: white;
  --plyr-range-track-height: 2px;
  --plyr-range-thumb-height: 8px;
}

:deep(.plyr__volume) {
  min-width: auto;
  width: auto;
}

:deep(.plyr__video-embed__container) {
  position: absolute !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-bottom: unset !important;
  transform: none !important;
}

:deep(.plyr--video .plyr__control:hover) {
  background: rgba(255,255,255,0.1) !important;
}
</style>
