<template>
  <div class="fixed flex flex-col top-0 z-50 w-full">
    <div class="relative h-2 xl:h-4 overflow-hidden mobile-landscape:h-2">
      <img
        class="object-cover"
        src="/assets/desenho_topo.svg" />
    </div>
    <nav
      id="nav"
      :class="['bg-black flex flex-wrap items-center',
              'sm:px-6 lg:flex-row lg:px-4']"
      >
      <router-link to="/home" class="h-10 w-10 p-2 sm:hidden mobile-landscape:h-8">
        <img src="/assets/logo-patrimonio-white.svg" class="max-h-full" />
      </router-link>
      <router-link class="w-32 flex-grow py-2 flex items-center mx-auto sm:ml-0 xl:py-3 md:w-auto xl:h-12 mobile-landscape:h-8" to="/home">
        <img
          :class="['opacity-0 drop-down h-full max-h-7',
                    'sm:pt-0 xl:pb-1 sm:opacity-100',
                    openMenu ? 'opacity-100' : '']"
          src="/assets/logo-nowrap.svg"
          alt="Logotipo do Circuito Memória Paulistana" />
      </router-link>
      <button
        class="w-4 h-4 mx-4 lg:order-4 lg:mx-2"
        :aria-pressed="$store.state.muted"
        aria-label="Desativar áudio por padrão"
        @click="$store.commit('toggleMute')"
        >
        <icons v-if="$store.state.muted" type="audio-off"></icons>
        <icons v-else type="audio"></icons>
      </button>

      <button
        class="screen-reader-only"
        aria-label="Otimizar acessibilidade para leitores de tela"
        :aria-pressed="$store.state.accessibilityMode"
        @click="$store.commit('toggleAccessibilityMode')"
        />
      <button class="lg:hidden w-6 h-6 mr-4">
        <svg :class="{'ham hamRotate ham8 ': true, 'active':openMenu}" viewBox="0 0 100 100" @click="openMenu = !openMenu">
          <path
                class="line top"
                d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
          <path
                class="line middle"
                d="m 30,50 h 40" />
          <path
                class="line bottom"
                d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
        </svg>
      </button>

      <ul :class="['flex flex-col w-full h-0 overflow-hidden flex-grow italic items-center justify-around uppercase drop-down',
                'md:flex-row',
                'lg:justify-end lg:h-auto lg:w-auto',
                openMenu ? 'custom-height' : '']">
        <router-link
          tag="li"
          v-for="(page, key) in $store.state.pages"
          :key="key"
          :to="`/${key}`"
          class="mx-auto cursor-pointer w-48 px-0 whitespace-nowrap text-center text-sm
                sm:px-2 sm:mx-0 md:w-auto md:py-0 xl:px-4 2xl:px-8
                hover:underline hover:text-strong-yellow">
          <span :class="{'underline text-strong-yellow': $route.path.split('/')[1] === key}">{{page.name}}</span>
        </router-link>
        <img
          :class="{'w-48 opacity-0 pb-8 drop-down md:hidden mobile-landscape:hidden': true, 'opacity-100': openMenu}"
          src="/assets/logo.svg"
          alt="Circuito Memória Paulistana"
          />
      </ul>

    </nav>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import icons from './images/icons.vue'

export default defineComponent({
  components: { icons },
  data: () => ({
    openMenu: false
  }),
  watch: {
    $route (to, from){
      this.openMenu = false
    }
  }
})
</script>

<style lang="postcss" scoped>
.custom-height {
  height: calc(100vh - 3rem)
}

.drop-down {
  transition: all 0.3s ease-in-out;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  transform: rotate(90deg);
}

.screen-reader-only {
  position: absolute;
  left: -100vw;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

@media (min-width: 768px) {
  .custom-height {
    @apply h-12
  }
}
</style>
