<template>
  <div ref="mapbox" id="mapbox" class="flex flex-col flex-grow">
    <!-- <circuits-bar class="hidden md:flex" section=""></circuits-bar> -->
    <header
      class="hidden absolute z-30 w-full lg:flex flex-wrap justify-around bg-white xl:px-12">
      <button
        v-for="(circuito, destination) in $store.state.circuits"
        :key="circuito.number"
        @click="filterCircuit(destination)"
        class="flex items-center selector p-1 text-2xs xl:text-sm 2xl:text-lg"
        :style="{color: circuito.color}">
        <icons
          type="marker"
          :class="{'w-2 h-2 lg:w-3 lg:h-3 xl:w-4 xl:h-4': true, 'blink': destination === filteredCircuit}"
          ></icons>
        <span
          class="ml-1 uppercase italic"
          :style="[destination === filteredCircuit ? 'color: ' + circuito.color : '']">
          {{ destination === filteredCircuit ? 'remover filtro' : circuito.name }}
        </span>
      </button>
    </header>
    <mapbox-map
      :accessToken="token"
      :mapStyle="style"
      @loaded="loaded"
      @move="closePin"
      >
      <mapbox-navigation-control position="bottom-right" />
    </mapbox-map>
    <map-plate
      :show="showPlate"
      :name="selectedPoint.Name"
      :text="selectedPoint.Text"
      :xPos="selectedPoint.X"
      :yPos="selectedPoint.Y"
      :color="filteredCircuitColor"
      :shrink="shrink"
      @close="closePin">
    </map-plate>
  </div>
</template>

<script lang="ts">
import axios from 'axios'
import { Map, MapMouseEvent } from 'mapbox-gl'
import { defineComponent } from 'vue'
import mapPlate from './mapPlate.vue'
import icons from './images/icons.vue'
import circuitsBar from './circuitsBar.vue'
import Icons from './images/icons.vue'

interface MapClickEvent extends MapMouseEvent {
  features?: {[key: string]: any}[];
}

export default defineComponent({
  components: {
    mapPlate,
    circuitsBar,
    Icons
  },
  props: {
    shrink: Boolean
  },
  data(){
    return {
      token: import.meta.env.VITE_MAPBOX_API,
      style: import.meta.env.VITE_MAPBOX_STYLE,
      selectedPoint: {
        Name: '',
        Text: '',
        Circuit: '',
        X: 0,
        Y: 0
      },
      filteredCircuit: '',
      showMarker: false,
      markerX: 0,
      markerY: 0,
      showPlate: false,
      clickedX: 0,
      clickedY: 0,
      map: {} as Map,
      flyZoom: {
        'samba': { pos: {lat: -23.54159, lon:-46.63415}, zoom: 12, speed: 0.7},
        'teatro': { pos: {lat: -23.55072, lon:-46.64791}, zoom: 13.83, speed: 0.7},
        'indigenas':{ pos: {lat: -23.5121, lon:-46.5754}, zoom: 11.01, speed: 0.7},
        'cinema':{ pos: {lat: -23.55066, lon:-46.64713}, zoom: 13.49, speed: 0.7},
        'arquitetura':{ pos: {lat: -23.58036, lon:-46.66911}, zoom: 12.49, speed: 0.7},
        'resistencia':{ pos: {lat: -23.55635, lon:-46.64025}, zoom: 14.64, speed: 0.7},
        'saude':{ pos: {lat: -23.55999, lon:-46.64868}, zoom: 14.31, speed: 0.7},
        'futebol':{ pos: {lat: -23.51699, lon:-46.65523}, zoom: 13.49, speed: 0.7},
        'lgbtqia':{ pos: {lat: -23.546656, lon:-46.646173}, zoom: 15.38, speed: 0.7},
        'operarios':{ pos: {lat: -23.53665, lon:-46.60716}, zoom: 13.66, speed: 0.7},
      },
      features: []
    }
  },
  computed:  {
    filteredCircuitColor () {
      if (this.filteredCircuit === '') {
        return this.selectedPoint.Circuit !== '' ? this.$store.state.circuits[this.selectedPoint.Circuit].color : '#fff'
      } else {
        return this.$store.state.circuits[this.filteredCircuit].color
      }
    }
  },
  methods: {
    filterCircuit (circuit) {
      let mapKey = (k) => { return (k === 'lgbtqia')?'lutas':k }
      if (this.filteredCircuit !== circuit) {
        this.map.on('click', mapKey(circuit), this.mapClick)
        this.map.setLayoutProperty(mapKey(circuit), 'visibility', 'visible')
        this.map.flyTo({ center: this.flyZoom[circuit].pos, zoom: this.flyZoom[circuit].zoom, speed: this.flyZoom[circuit].speed })
        if (this.filteredCircuit !== '') {
          this.map.setLayoutProperty(this.filteredCircuit, 'visibility', 'none')
        } else {
          this.map.setLayoutProperty('crua-final', 'visibility', 'none')
        }
        this.filteredCircuit = circuit
      } else {
        this.map.setLayoutProperty('crua-final', 'visibility', 'visible')
        this.map.setLayoutProperty(circuit, 'visibility', 'none')
        this.filteredCircuit = ''
      }
    },

    loaded(e: Map) {
      this.map = e
      this.map.on('click', 'crua-final', this.mapClick)
      // this.map.setLayoutProperty('crua-final', 'visibility', 'none')
      this.resize()
    },

    mapClick(e: MapClickEvent) {
      const container = this.$refs.mapbox as HTMLDivElement
      if(this.showPlate) {
        this.closePin()
        this.showMarker = false
        return
      }
      this.selectedPoint.X = e.point.x + container.offsetLeft
      this.selectedPoint.Y = e.point.y + container.offsetTop

      if(e.features.length > 0
        && e.features[0].properties['CIRCUITO']
        && e.features[0].properties['CIRCUITO'] !== '360') this.selectedPoint.Circuit = e.features[0].properties['CIRCUITO']

      this.showMarker = true
      this.markerX = e.lngLat.lng
      this.markerY = e.lngLat.lat

      if (e.features && e.features[0].properties) {
        this.selectedPoint.Name = e.features[0].properties['Name']
        this.selectedPoint.Text = e.features[0].properties['imp_enunci']
      }
      this.showPlate = true
    },
    closePin() {
      this.showPlate = false
      this.selectedPoint.Circuit = ''
    },
    resize() {
      this.map.resize()
    }
  }
})
</script>

<style lang="postcss" scoped>
#mapbox:deep(.mapboxgl-ctrl-logo),
#mapbox:deep(.mapboxgl-ctrl-attrib) {
  display: none;
}

#mapbox:deep(.mapboxgl-canvas-container) {
    height: 100vh;
}

.selector span {
  color: black
}

.selector:hover span {
  color: inherit
}

.blink {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
</style>
