<template>
  <div id="mapbox" class="mainMap w-full h-full flex items-center justify-center">
    <mapbox-map
      v-if="featuresLoaded"
      :accessToken="token"
      :mapStyle="style"
      @loaded="loaded"
      >
      <div v-for="(feature, index) in circuitPins"
           :key="index" >
      <mapbox-marker
        class="marker"
        
        :lngLat="[feature.geometry.coordinates[0], feature.geometry.coordinates[1]]"
        color="#0000"
        >
            <template v-slot:icon>
              <div :style="{'display': 'none'}"></div>
            </template>
        </mapbox-marker>
      </div>
    </mapbox-map>
    <map-plate
      class="pin"
      :show="showPlate"
      :name="selectedPoint.Name"
      :text="selectedPoint.Text"
      :color="$store.state.circuits[tour].color"
      small
      @close="closePin">
    </map-plate>
  </div>
</template>

<script lang="ts">
import axios from 'axios'
import { gsap } from 'gsap'
import { defineComponent } from 'vue'
import { Map, MapMouseEvent } from 'mapbox-gl'
import mapPlate from './mapPlate.vue'

interface MapClickEvent extends MapMouseEvent {
  features?: {[key: string]: any}[];
}

export default defineComponent({
  props: {
    color: String,
    tour:String
  },
  components: {
    mapPlate
  },
  data(){
    return {
      token: 'pk.eyJ1IjoiZXN0dWRpb2NydWEiLCJhIjoiY2tzdDh2MTR1MTRhZDJ1cWtoMXU4dzd5MyJ9.dvd7EayF035A9gSYq1Ocqw',
      style: 'mapbox://styles/estudiocrua/cksvgp5lx3fl318o78ooo9quc',
      firstRound: true,
      selectedPoint: {
        Name: '',
        Text: '',
        X: 0,
        Y: 0
      },
      showMarker: false,
      markerX: 0,
      markerY: 0,
      showPlate: false,
      clickedX: 0,
      clickedY: 0,
      map: {} as Map,
      features: [],
      curPoint: 0,
      startTime: -1,
      featuresLoaded: false,
      circuit: (this.tour)?this.tour:this.$route.params.tour
    }
  },
  computed: {
    circuitPins () {
      return this.features.filter((c) => c.properties.CIRCUITO === this.mapKey(this.circuit))
    }
  },    
  methods: {
    mapKey: (k) => { return (k === 'lgbtqia')?'lutas':k},
    countTime(timestamp: number) {
      const timeLimit = this.firstRound ? 3000 : 15000

      if (this.startTime === -1) {
        this.startTime = timestamp
      }

      const elapsed = timestamp - this.startTime

      if (elapsed > timeLimit) {
        this.moveCamera()
        this.startTime = timestamp
      }
      window.requestAnimationFrame(this.countTime)
    },
    moveCamera() {
        this.firstRound = false
        let point = this.circuitPins[this.curPoint]
        let pointCoordinates = point.geometry.coordinates

        this.selectedPoint = {
          Name: point.properties.Name,
          Text: point.properties.imp_enunci,
          X: 0,
          Y: 0
        },

        this.map.flyTo(
          {
            center: pointCoordinates,
            speed: 0.5,
            zoom: 19,
            curve: 2,
            easing: (t) => t<.5 ? 2*t*t : -1+(4-2*t)*t,
          }
        )
        this.curPoint = (this.curPoint + 1) % (this.features.length)
    },
    loaded(e: Map) {
      this.map = e
      this.map.setLayoutProperty(this.circuit, 'visibility', 'visible')

      this.map.on('movestart', () => {
        this.showPlate = false
      })
      this.map.on('moveend', () => {
        this.showPlate = true
      })

      for (let handler of ['dragPan',
                           'scrollZoom',
                           'boxZoom',
                           'dragRotate',
                           'keyboard',
                           'doubleClickZoom',
                           'touchZoomRotate']) {
         this.map[handler].disable()
      }

      this.$nextTick(() => {
        let i = 0
        this.moveCamera()
        for (let feature of this.map._markers) {
          const animation = { y: feature._pos.y - 200, opacity: 0, delay: 0.15 * i }
          if (i === this.map._markers.length - 1) {
           gsap.timeline({
                          defaults: { duration: 1.5,
                                      ease: "bounce",
                                      onComplete: () => {
                                        window.requestAnimationFrame(this.countTime)
                                      }
                          }
                        })
                        .to(feature._element, {duration: 0, opacity: 100})
                        .from(feature._element, animation)
          } else {
           gsap.timeline({
                          defaults: { duration: 1.5, ease: "bounce" }
                        })
                        .to(feature._element, {duration: 0, opacity: 100})
                        .from(feature._element, animation)
          }
          i += 1
        }
      })
    },
    closePin() {
      this.showPlate = false
    }
  },
  beforeMount () {
    axios.get('https://api.mapbox.com/datasets/v1/estudiocrua/ckst9mwvt11gy2fscd2mk27i9/features?access_token=pk.eyJ1IjoiZXN0dWRpb2NydWEiLCJhIjoiY2tzdDh2MTR1MTRhZDJ1cWtoMXU4dzd5MyJ9.dvd7EayF035A9gSYq1Ocqw').then(res => {
      this.features = res.data.features
      this.featuresLoaded = true
    })
  },
})
</script>

<style lang="postcss" scoped>
#mapbox:deep(.mapboxgl-ctrl-logo),
#mapbox:deep(.mapboxgl-ctrl-attrib) {
  display: none;
}


#mapbox:deep(.mapboxgl-canvas-container) {
    height: 100vh;
}

.marker {
  display: none;
}


#mapbox:deep(.mapboxgl-marker) {
  @apply opacity-0;
}
</style>
