<template>
  <transition
    @beforeEnter="beforeEnter"
    @enter="enter"
    @afterEnter="afterEnter"
    @leave="leave"
    >
    <div
      v-if="show"
      class="pin cursor-pointer"
      @click="$emit('close')">
      <div
        ref="pinContent"
        class="overflow-hidden rounded-full
            bg-map-blue items-center justify-around
              border-white text-white">
        <div
          v-if="!small"
          :class="['margin float-left clear-left', shrink ? 'h-9 w-20' : 'h-12']"></div>
        <div
          v-if="!small"
          :class="['margin float-right clear-right', shrink ? 'h-9 w-20' : 'h-12']"></div>

        <div
          v-if="!small"
          :class="['margin float-left clear-left', shrink ? 'w-8 h-9' : 'h-12 w-12']"></div>
        <div
          v-if="!small"
          :class="['margin float-right clear-right', shrink ? 'w-8 h-9' : 'h-12 w-12']"></div>

        <div
          v-if="!small"
          :class="['margin float-left clear-left', shrink ? 'w-3 h-9' : 'h-12 w-5 ']"></div>
        <div
          v-if="!small"
          :class="['margin float-right clear-right', shrink ? 'w-3 h-9' : 'h-12 w-5']"></div>

        <div
          v-if="!small"
          :class="['margin float-left clear-left', shrink ? 'h-9' : 'h-12 w-1']"></div>
        <div
          v-if="!small"
          :class="['margin float-right clear-right', shrink ? 'h-9' : 'h-12 w-1']"></div>

        <div
          v-if="!small"
          :class="['margin float-left clear-left', shrink ? 'w-3 h-9' : 'h-12 w-5']"></div>
        <div
          v-if="!small"
          :class="['margin float-right clear-right', shrink ? 'w-3 h-9' : 'h-12 w-5']"></div>

        <div
          v-if="!small"
          :class="['margin float-left clear-left', shrink ? 'w-8 h-9' : 'h-12 w-12']"></div>
        <div
          v-if="!small"
          :class="['margin float-right clear-right', shrink ? 'w-8 h-9' : 'h-12 w-12']"></div>

        <div
          v-if="!small"
          :class="['margin float-left clear-left', shrink ? '-14 h-9 ' : 'h-12 w-20']"></div>
        <div
          v-if="!small"
          :class="['margin float-right clear-right', shrink ? '-14 h-9 ' : 'h-12 w-20']"></div>

        <div>
          <figure class="flex flex-grow h-1/5 items-center">
            <svg
              version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 199.5 199.5"
              :class="[small ? 'h-6 w-6 my-4' : shrink ? 'h-5 w-5 my-2' : 'h-8 w-8 my-6',
                      'hover:text-white cursor-pointer mx-auto stroke-8']"
              :style="{
                fill: color ? color : '#fff',
                stroke: '#fff'
              }">
              <path d="M100.5,196.8c0,0,63.9-92.2,63.9-129.4c0-35.6-29.1-64.7-64.7-64.7l0,0C64.2,2.7,35,31.8,35,67.4l0,0C35,106.2,99.7,196.8,100.5,196.8"/>
            </svg>
          </figure>
          <h1
            :class="['flex-grow px-6 not-italic items-center justify-center uppercase text-center',
                    small ? 'text-lg' : shrink ? 'text-base' : 'text-2xl mb-4']"
            v-html="name" >
          </h1>
          <p v-if="!small" class="text-center plate-text italic smaller-line pb-4">
            {{text}}
          </p>
        </div>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { gsap } from "gsap"

export default defineComponent({
  props: {
    show: {
      type: Boolean,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    text: {
      type: String,
      required: true
    },
    xPos: Number,
    yPos: Number,
    small: Boolean,
    shrink: Boolean,
    color: String
  },
  emits: ['close'],
  computed: {
    xPosition(): string {
      return this.xPos ? this.xPos + 'px' : '50%'
    },
    yPosition(): string {
      return this.yPos ? this.yPos + 'px' : '50%'
    }
  },
  methods: {
    beforeEnter (el: Element) {
      const pinContent = this.$refs.pinContent as HTMLDivElement
      gsap.set(pinContent, {
        width: 0,
        height: 0,
        border: '0px solid white'
      })
      gsap.set(el, {
        top: this.yPosition,
        left: this.xPosition,
        width: 0,
        height: 0
      })
    },
    enter (el: Element, done: any) {
      const pinContent = this.$refs.pinContent as HTMLDivElement
      gsap.to(pinContent, {
        duration: 0.3,
        width: '100%',
        height: '100%',
        border: '4px solid white',
        ease: 'Power1.out',
        onComplete: done
      })
      gsap.to(el, {
        duration: 0.3,
        top: '50%',
        left: '50%',
        width: this.small? '14rem' : this.shrink ? '18rem' : '24rem',
        height: this.small? '14rem' : this.shrink ? '18rem' : '24rem',
        ease: 'Power1.out',
        onComplete: done
      })
    },
    afterEnter () {
      const pinText = this.$refs.pinText as HTMLSpanElement
      gsap.to(pinText, {
        duration: 0.15,
        opacity: 1,
        transform: 'none'
      })
    },
    leave (el: Element, done: any) {
      gsap.to(el, {
        duration: 0.3,
        top: this.yPosition,
        left: this.xPosition,
        width: 0,
        height: 0,
        ease: 'Power1.in',
        onComplete: done
      })
    }
  }
})
</script>

<style lang="postcss" scoped>
.pin {
  @apply absolute p-4 rounded-full bg-map-blue flex items-center justify-center shadow-2xl overflow-hidden;

  transform: translate3d(-50%, -50%, 0);
}

.smaller-line {
  line-height: 1.3em;
}

.round-text {
  opacity: 0;
  transform: translateY(-10%);
}

.plate-text {
  font-size: 0.9rem;
}

@media screen and (max-device-width: 400px) and (orientation: portrait) {
  .plate-text {
    font-size: 0.75rem;
  }
}

@media screen and (max-device-width: 900px) and (orientation: landscape) {
  .plate-text {
    font-size: 0.75rem;
  }
}
</style>
