<template>
  <transition name="overlay">
    <div
      v-if="$store.state.openFullscreen"
      id="overlay"
      @click="closeVideo"
      class="fixed w-screen h-screen top-0 bg-light-gray bg-opacity-80 flex items-center justify-center z-50">
      <div class="ratio relative plyr__video-embed" :id="`player-${id}`">
        <iframe
          class="absolute w-full h-full"
          :src="`https://player.vimeo.com/video/${$store.state.overlayVideo}?controls=0&amp;background=1&amp;loop=false&amp;autoplay=true&amp;byline=0&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media`"
          allowfullscreen
          allowtransparency
          autoplay
          allow="autoplay"
        ></iframe>
      </div>
      <button class="close-btn absolute top-5 right-5 w-10 h-10 text-black
                    rounded-full p-2 hover:bg-dark-gray">
        <icons type="close"></icons>
      </button>
    </div>
  </transition>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import icons from './images/icons.vue'

export default defineComponent({
  components: { icons },
  methods: {
    closeVideo() {
      this.$store.commit('closeVideo')
    }
  }
})
</script>

<style lang="postcss" scoped>
.ratio {
  width: 80vw;
  height: 45vw;
  padding-bottom: 0;
}

.close-btn,
.overlay-enter-active,
.overlay-leave-active {
  transition: all 0.5s ease-in-out;
}

.overlay-enter-from,
.overlay-leave-to {
  transform: translateX(-100%);
}
</style>
