<template>
  <footer
    :class="{'md:fixed': $route.path === '/sobre',
          'w-full px-4 pb-2 pt-2 bg-mid-gray flex flex-col text-black uppercase bottom-0': true,
          'md:flex-row md:items-center md:p-0': true,
          'mobile-landscape:flex-row mobile-landscape:items-center mobile-landscape:p-0': true}">
    <div
      class="flex h-full w-full justify-between items-center pb-4
          sm:mx-auto sm:w-auto
          md:ml-8 md:mr-auto md:pb-0
          mobile-landscape:mr-auto mobile-landscape:pb-0">
      <span class="pl-2 whitespace-nowrap text-light-blue mt-auto md:text-black md:p-0 md:mt-0 mobile-landscape:text-black mobile-landscape:mt-0">siga-nos</span>
      <a href="https://jornadadopatrimonio.prefeitura.sp.gov.br/" target="_blanc">
        <img src="/assets/logo-patrimonio-blue.svg" class="h-7 mx-5 xl:h-10 xl:mx-6 mobile-landscape:h-6" />
      </a>
      <a href="https://www.instagram.com/jornadadopatrimoniosp/" target="_blanc">
        <img class="h-4 mr-4 xl:h-5 xl:mr-5 mobile-landscape:h-4" src="/assets/instagram.svg" alt="instagram" />
      </a>
      <a href="https://www.youtube.com/user/smcsaopaulo" target="_blanc">
        <img class="h-4 mr-4 xl:h-5 xl:mr-5 mobile-landscape:h-4" src="/assets/youtube.svg" alt="youtube" />
      </a>
      <a href="https://twitter.com/smcsp" target="_blanc">
        <img class="h-4 mr-4 xl:h-5 xl:mr-5 mobile-landscape:h-4" src="/assets/twitter.svg" alt="twitter" />
      </a>
    </div>
    <img class="w-full sm:w-auto h-7 xl:h-12 mx-auto md:mr-8 mobile-landscape:h-6 mobile-landscape:w-auto"
        src="/assets/regua.png"
        alt="realização: Estúdio Crua, DPH: Departamento do Patrimônio Histórico, São Paulo Film Comission, SPCINE, São Paulo: Capital da Cultura e Secretaria da Cultura da Cidade de São Paulo" />
  </footer>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  setup () {
    return {}
  }

})
</script>

<style scoped>
.footer {
  min-height: 6rem;
}

@media (min-width: 768px) {
  .footer {
    min-height: 4rem;
  }
}
</style>
