<template>
  <div
    :class="['relative w-full h-full personagem flex flex-col md:flex-row', divKey]">
    <circuit-marker
      class="info md:hidden pb-1 justify-end absolute top-0 transform -translate-y-full -translate-x-2 md:relative md:transform-none"
      :infos="$store.state.circuits[info.circuit]"
      :src="info.circuit"
      shrink
      underline>
    </circuit-marker>

    <div
      class="relative flex-grow overflow-hidden flex bg-black bg-cover bg-center"
      :style="{backgroundImage: bg ? `url(${bg})` : ''}">
      <fullscreen-video
        v-if="showVideo"
        ref="player"
        class="video flex-grow"
        :options="videoOptions"
        :vidSrc="info.video"
        @canplay="playVideo">
      </fullscreen-video>
      <div class="absolute w-full h-full md:hidden flex flex-col items-center justify-center">
        <transition name="fade">
          <icons v-if="!triggerAudio" class="w-10 h-10" type="audio"></icons>
        </transition>
      </div>
      <button
        :class="['absolute top-0 w-full h-full p-4 apply-transition',
                currentAudio === info.audio ? 'opacity-1000' : 'opacity-0']"
        @mouseenter="playHoverAudio"
        @mouseleave="pauseHoverAudio"
        @click="persistAudio">
        <!-- @click="persistAudio" -->
        <img src="/assets/soundWaves.svg" />
      </button>
    </div>

    <!-- Mobile -->
    <div class="info flex md:hidden">
      <div class="flex-grow flex flex-col">
        <h3>
          {{info.name}}
        </h3>
        <small class="italic">{{info.subtitle}}</small>
      </div>
      <button class="flex ml-2 pt-2 w-10 h-10" @click="playAudio">
        <icons class="w-4 h-4" type="audio"></icons>
      </button>
    </div>

    <!-- Desktop -->
    <div
      :class="['hidden flex-col pr-4 pl-2 text-white info md:flex', info.position]">
      <circuit-marker
        class="justify-end absolute top-0 transform -translate-y-full text-lg -translate-x-2 sm:relative sm:transform-none"
        :infos="$store.state.circuits[info.circuit]"
        :src="info.circuit"
        large
        shrink
        underline>
      </circuit-marker>
      <h3>
        {{info.name}}
      </h3>
      <small :class="{'italic mt-0':true,
                  'text-right': alignRight }">
                  {{info.subtitle}}</small>
      <button class="flex mt-4" @click="toggleAudio">
        <icons type="audio" class="w-6 h-6 mr-4"></icons>
        <span v-if="this.persist === this.info.audio" class="underline italic">parar</span>
        <span v-else class="underline italic">ouça</span>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { gsap } from 'gsap'
import { ScrollTrigger } from "gsap/ScrollTrigger"
import { Personagens } from '../../types/types'
import circuitMarker from '../home/circuitMarker.vue'
import FullscreenVideo from '../fullscreenVideo.vue'
import Icons from '../images/icons.vue'
import store from '../../store/store'

export default defineComponent({
  components: { circuitMarker, FullscreenVideo, Icons },
  emits: ['playPersonagem', 'pausePersonagem', 'persistPersonagem', 'releasePersonagem'],
  props: {
    info: {
      type: Object as PropType<Personagens>,
      required: true
    },
    divKey: {
      type: String,
      required: true
    },
    currentAudio: {
      type: String,
      required: true
    },
    bg: {
      type: String,
      required: true
    },
    persist: String
  },
  data: () => ({
    showing: false,
    triggerAudio: false,
    showVideo: false,
    videoOptions: {
      byline: false,
      controls: false,
      playsinline: true,
      //responsive: true,
      title: false,
      loop: true,
      muted: true
    }
  }),
  methods: {
    toggleAudio () {
      if (this.triggerAudio === true && this.currentAudio === this.info.audio) {
        this.pauseAudio()
      } else {
        this.persistAudio()
      }
    },
    playVideo () {
      const player = this.$refs.player as HTMLVideoElement
      player.play()
    },
    playAudio () {
      if(!this.$store.state.muted) {
        this.triggerAudio = true
        this.$emit('playPersonagem', this.info.audio)
      }
    },
    pauseAudio () {
      this.triggerAudio = false
      this.$emit('pausePersonagem', this.info.audio)
      if (this.persist !== this.info.audio) this.$emit('releasePersonagem', this.info.audio)
    },
    persistAudio () {
      if (this.persist !== this.info.audio) this.$emit('persistPersonagem', this.info.audio)
      else this.$emit('releasePersonagem', this.info.audio)
    },
    playHoverAudio () {
      if(!this.$store.state.muted && !this.$store.state.accessibilityMode && this.currentAudio === '') {
        this.playAudio()
      }
      this.triggerAudio = true
    },
    pauseHoverAudio () {
      if(!this.$store.state.muted && !this.$store.state.accessibilityMode && this.currentAudio === this.info.audio) {
        this.pauseAudio()
      }
      this.triggerAudio = false
    },
  },
  watch: {
    persist (from, to) {
      if(from === this.info.video) this.triggerAudio = true
      else this.triggerAudio = false
    }
  },

  //computed if bottom .left-bottom .left-top .bottom-right
  computed: {
    alignRight(){
      if(this.info.position === 'bottom-right' || this.info.position=== 'left-bottom' || this.info.position=== 'left-top') {
        return true;
      }
    }
  },

  created() {
    gsap.registerPlugin(ScrollTrigger)
  },
  mounted() {
    gsap.from(`.${this.divKey}`, {
      scrollTrigger: {
        trigger: `.${this.divKey}`,
        start: 'top 150%',
        toggleActions: 'play none none none',
        onEnter: () => { this.showVideo = true },
        // onEnterBack: () => { this.showVideo = true },
        // onLeave: () => { this.showVideo = false },
        // onLeaveBack: () => { this.showVideo = false },
      },
      duration: 1,
      opacity: 0,
      y: 400
    })
  }
})
</script>

<style lang="postcss" scoped>
h3 {
  @apply text-xl xl:text-2xl 2xl:text-3xl;
}

.apply-transition {
  transition: all 0.3s ease-in-out;
}

@media (min-width: 640px) {
  .right-top {
    @apply absolute top-0 right-0 items-start transform translate-x-full;

    max-width: 65%;
  }

  .bottom-right {
    @apply absolute bottom-0 right-0 items-end transform translate-y-full pt-2 -ml-2;

    width: 200%;
  }

  .bottom-left {
    @apply absolute bottom-0 left-0 items-start transform translate-y-full pt-2 -ml-2;
  }

  .left-top {
    @apply absolute top-0 left-0 items-end transform -translate-x-full;
  }

  .left-bottom {
    @apply absolute bottom-0 left-0 items-end transform -translate-x-full;
  }
}
</style>
